<body>
  <h2 class="text-center text-white pt-45 pb-45 fontIT">
    Office Bearers 2020-21
  </h2>
  <section id="row1" class="about-section pt-30">
    <!------------------------------ president card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/president.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            2
            <h3>
              AKASH<br />DASWANI <br /><span>President</span><br /><span
                style="color: #adadad"
                ><i class="fas fa-phone-alt"></i>7997512500 </span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li>
            <a href="https://www.linkedin.com/in/aakash-daswani-87316015a/"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ GenSec1 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/gensec1.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              ANISH<br />
              KUMAR PURBEY<br /><span>General Secretary 1</span><br /><span
                style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 8228011615</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="https://www.linkedin.com/in/anish-kumar-purbey-b16a25190"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ GenSec2 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/gensec2.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              UMA <br />
              AISHWARYA <br /><span>General Secretary 2</span><br /><span
                style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 8497974925</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ Welfare card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/media.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              C<br />
              SHRUTI <br /><span>Student Welfare Secretary</span><br /><span
                style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 9912879814</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="https://www.linkedin.com/mwlite/in/shruti-c-1546211a4"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <!------------------------------ Media card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/media.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              DASARI UJJWAL <br /><span
                >Media and Public relations Head</span
              ><br /><span style="color: #ADADAD"
                ><i class="fas fa-phone-alt"></i> 7337007500</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="https://www.linkedin.com/in/shree-ujjwal-053569199"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ Acad card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/acad.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              ANURAAG CHANDRA SHUKLA<br /><span>Academic Affairs Secretary</span><br /><span
                style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 9849366508</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="https://www.linkedin.com/in/anuraag-shukla-9021041a5/"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ Scitech card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/sci.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              SUNNY<br />
              MANE<br /><span>Science and Technology Secretary</span
              ><br /><span style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 9619019136</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="http://www.linkedin.com/in/sunny-mane-766883193"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ Culti card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/cultural.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              ROHIT DHONDGE <br /><span>Cultural and Literary Secretary</span
              ><br /><span style="color: #ADADAD"
                ><i class="fas fa-phone-alt"></i> 9370028446</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="https://www.linkedin.com/in/rohit-dhondge-784048199"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ Sports card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/sport.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              AVANEESH<br />
              SINGH <br /><span>Sports Secretary</span><br /><span
                style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 8957364150</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="https://www.linkedin.com/in/avaneesh-singh-93a551147"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ Ug1 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/ug1.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              DEVASOORYA <br />
              R<br /><span>Undergraduate Representative 1</span
              ><br /><span style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 9633124037</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="https://www.linkedin.com/in/devasoorya-rejeesh-08396717a"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ UG2 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/ug2.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              VAISHNAVI<br />
              K<br /><span>Undergraduate Representative 2</span
              ><br /><span style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 7893914882</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="https://www.linkedin.com/in/vaishnavi-kanyaboina-36a4b1176/"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ PG1 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/pg.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              MANMOHAN MITRUKA<br /><span>Postgraduate Representative 1</span
              ><br /><span style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 7976856833</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="https://www.linkedin.com/in/manmohan-mitruka-9863a9187"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ DR1 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/phd1.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              AKARSH<br />
              BAJPAI <br /><span>Doctoral Representative 1</span
              ><br /><span style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 9711964093</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="https://www.linkedin.com/in/akarsh-bajpai-b4532b97"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>

        <!------------------------------ DR2 card -------------------->
        <div class="container">
          <div class="card">
            <div class="card-content">
              <div class="image-box">
                <img
                  src="../../../assets/images/office-bearers/2020-21/phd2.webp"
                  alt=""
                />
              </div>
              <div class="content-box">
                <h3>
                  ATHIRA<br />
                  K S <br /><span>Doctoral Representative 2</span
                  ><br /><span style="color: #adadad"
                    ><i class="fas fa-phone-alt"></i> 9448309592</span
                  >
                </h3>
              </div>
            </div>
            <ul class="social">
              <li style="--i: 1">
                <a href="#"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </li>
              <li style="--i: 2">
                <a href="#"><i class="fas fa-envelope"></i></a>
              </li>
            </ul>
          </div>
        </div>
    
    <!------------------------------ mess card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2019-20/mess.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              SRINIVAS<br />KALYAN <br /><span>Mess Secretary</span
              ><br /><span style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 9440649997</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ elan card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2019-20/elan.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              STAVAN <br />CHRISTIAN <br /><span>Elan Overall Coordinator</span
              ><br /><span style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 9974017449</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ TS1 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/transport1.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              VINAY<br /><span>Transport Secretary 1</span
              ><br /><span style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 8919091513</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="https://www.linkedin.com/in/chimmili-vinaykumar-8907891b1"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ TS1 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2020-21/transport1.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              ARUN SAKTHI<br/> ANAND M<br /><span>Transport Secretary 2</span
              ><br /><span style="color: #adadad"
                ><i class="fas fa-phone-alt"></i> 9843965600</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="https://www.linkedin.com/in/arun-sakthi-anand-manickavel-6b1360188"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</body>
