<!-- ========================= footer start ========================= -->
<footer class="footer pt-90">
  <div class="container">
    <div class="widget-wrapper">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="footer-widget">
            <div class="logo">
              <a href="index.html">
                <img
                  src="../../../assets/images/logo/logo-dark.png"
                  alt="logo"
                />
              </a>
            </div>
            <ul class="social-network social-circle">
              <li>
                <a
                  href="https://www.facebook.com/echoiith"
                  class="icoFacebook"
                  title="Facebook"
                  ><i class="fab fa-facebook"></i
                ></a>
              </li>
              <!-- <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fab fa-linkedin"></i></a></li> -->
              <li>
                <a
                  href="https://www.instagram.com/iit_hyderabad/"
                  class="icoLinkedin"
                  title="Linkedin"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://twitter.com/IITHyderabad?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                  class="icoLinkedin"
                  title="Linkedin"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com/channel/UCIO6qjm9EJkwrA5HdaCNI4A"
                  class="icoLinkedin"
                  title="Linkedin"
                  ><i class="fab fa-youtube"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h3 class="text-white">Explore</h3>
                        <ul class="links">
                            <li>
                                <a href="#">About </a>
                            </li>
                            <li>
                                <a href="#">Our Team </a>
                            </li>
                            <li>
                                <a href="#">Milan </a>
                            </li>
                        </ul>
                    </div>
                </div> -->
        <div class="col-lg-3 col-sm-6">
          <div class="footer-widget">
            <h3 class="text-white">Quick Links</h3>
            <ul class="links">
              <li>
                <a href="https://www.iith.ac.in/">IIT Hyderabad</a>
              </li>
              <li>
                <a href="http://ecell.iith.ac.in/">Entrepreneurship Cell</a>
              </li>
              <li>
                <a href="http://nss.iith.ac.in/">National Service Scheme</a>
              </li>
              <li>
                <a href="https://elan.org.in/">Elan & nVision</a>
              </li>
              <li>
                <a href="http://womencell.iith.ac.in/">Women's Cell</a>
              </li>
              <li>
                <a href="https://ebsb.iith.ac.in/">EBSB </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-widget">
            <h3 class="text-white">Quick Links</h3>
            <ul class="links">
                <li>
                <a href="http://sunshine.iith.ac.in/">Student Mentor Program</a>
              </li>
              <li>
                <a href="http://hostel.iith.ac.in/">Hostel coordinating Unit</a>
              </li>
              <li>
                <a href="https://gymkhana.iith.ac.in/cultural.html"
                  >Culturals</a
                >
              </li>
              <li>
                <a
                  href="https://drive.google.com/file/d/1HZe9eqNnGCQLKxNiH1RhfLSdozXevjGe/view"
                  >Yearbook 2020</a
                >
              </li>
              <li>
                <a href="https://theiithlexicon.wordpress.com/">Lexicon Blog</a>
              </li>
              <li>
                <a href="https://researchers-iith.netlify.app/"
                  >Research Scholar</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-widget">
            <h3 class="text-white">Contact Us</h3>
            <ul class="links">
              <li>
                <a href="javascript:void(0)"
                  ><h6 class="text-white">Location:</h6>
                  Indian Institute of Technology, Hyderabad <br />
                  Near NH-65, Sangareddy, kandi,<br />
                  Telangana 502285
                </a>
              </li>
              <li><br /></li>
              <li>
                <a href="javascript:void(0)"
                  ><h6 class="text-white">Phone:</h6>
                  +91-8999428103
                </a>
              </li>
              <li>
                <a href="javascript:void(0)"
                  ><h6 class="text-white">Mail us at:</h6>
                  media_secy@gymkhana.iith.ac.in
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ========================= footer end ========================= -->
<!-- ========================= scroll-top ========================= -->
<a
  href="#sticky-headers"
  (click)="toTop()"
  class="scroll-top btn-hover"
  *ngIf="!router.url.includes('events')"
>
  <i class="lni lni-chevron-up"></i>
</a>
