<header class="header" id="header">
    <div class="navbar-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand"  routerLink="/dashboard">
                <img src="../../../assets/images/logo/logo-dark.png" alt="Logo"/>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                <ul id="nav" class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="page-scroll" routerLink="/dashboard">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="page-scroll" href="#home">Office bearers</a>
                  </li>
                  <li class="nav-item">
                      <a class="link" href="#council">Council</a>
                      <ul>
                          <li><a class="link" href="#general">General Council</a></li>
                          <li><a class="link" href="#scitech">Sci-Tech Council</a></li>
                          <li><a class="link" href="#cultural">Cultural Council</a></li>
                          <li><a class="link" href="#sports">Sports Council</a></li>
                          <li><a class="link" routerLink="/media-council">Media Council</a></li>
                          <li><a class="link" routerLink="/mess-council">Mess Council</a></li>
                          <li><a class="link" routerLink="/academic-council">Academic Council</a></li>
                      </ul>
                    </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="#events">Events</a>
                  </li>
                  <li class="nav-item">
                    <a class="link" href="#archives" routerLink="/archives">Archives</a>
                    <!-- <ul>
                        <li><a class="link" href="#elections">Elections 2020</a></li>
                        <li><a class="link" href="#milanarchive">Milan 2020</a></li>
                        <li><a class="link" href="#scavenger">Scavenger Hunt</a></li>
                    </ul> -->
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="#calender">Calender</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" routerLink="/transperancy">Transparency</a>
                  </li>
                  <li class="nav-item">
                      <a class="page-scroll" href="#gallery">Gallery</a>
                  </li>
                </ul>
              </div>
              <!-- navbar collapse -->
            </nav>
            <!-- navbar -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!-- navbar area -->
  </header>