@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --size: 60vmin;
  --space: 8vmin;
  --duration: 300ms;
  --ease-out: cubic-bezier(0.25, 1, 0.5, 1);
  --bounce-out: cubic-bezier(0.34, 1.56, 0.64, 1);
}

* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

a, a:link, a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
  color: inherit;
}


/* --------------  primary header  ---------------- */
.flex{
  display: flex;
  gap: var(--gap, 1rem);
}

.logo-div{
  max-width: 60px;
  max-height: 60px;
  
}

.logo{
  margin: 2rem;
  /* scale: .4; */
  height: 100%;
  width: 100%;
  margin-top: 0;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%
}

.content{
  padding: 16px;
}

.sticky + .content{
  padding-top: 2rem;
}

.primary-header{
  align-items: center;
  justify-content: space-between;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 300ms ease-out;
  margin: auto;
  
  /* overflow: hidden;
   */
}

.mobile-nav-toggle{
  display: none;
}

.primary-navigation{
  z-index: 500;
  font-size: 15px;
  font-weight: 400;
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  box-sizing: border-box;
  /* background: hsl(0 0% 0% / 0.75); */
  
}

@supports(backdrop-filter: blur(1rem)){
  .primary-navigation{
    
    backdrop-filter: blur(1rem);
    
  }
}

.primary-navigation a, a:link, a:hover, a:active, a:focus{
  text-decoration: none;
  /* color: inherit; */
}



.primary-navigation a:link{
  text-decoration: none;
  color: azure;  
}

.primary-navigation a:visited{
  text-decoration: none;
  color: azure;
  
}

.primary-navigation a:hover{
  text-decoration: none;
  color: rgb(213, 167, 238);
  
}

.primary-navigation .active{
  font-weight: bold;
  color: rgb(189, 143, 231);
  position: relative;
}

.primary-navigation .active a:after{
  content: "";
  position: absolute;
  background-color: rgb(189, 143, 231);
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: 0.3s ease-in-out;
}

.primary-navigation .active a:hover:after{
  width: 100%;
}

@media (max-width: 35em){
  .primary-navigation{
    --gap: 2em;
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    background: hsl(0 0% 0% / 0.5);
    padding: min(30vh, 10rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"]{
    transform: translateX(0%);
  }

  .mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background-image: url("../../../../assets/images/landing_page/logo/icon-hamburger.svg");
    background-repeat: no-repeat;
    width: 2rem;    
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded = "true"]{
    background-image: url("../../../../assets/images/landing_page/logo/icon-close.svg");
  }
}

@media (min-width: 35em) { 
  .primary-navigation {
    --gap: 2rem;
    padding-block: 1rem;
    padding-inline: clamp(1rem, 7vw, 4rem);
   } 
}

