<header id="sticky-header" class="primary-header flex">
  <div class="logo-div">
    <a routerLink="/dashboard"
      ><img
        src="../../../../assets/images/landing_page/logo/gymkhana_logo.png"
        alt="Student Gymkhana Logo"
        class="logo"
    /></a>
  </div>

  <button
    class="mobile-nav-toggle"
    aria-controls="primary-navigation"
    aria-expanded="false"
  >
    <span class="sr-only"></span>
  </button>

  <nav>
    <ul
      id="primary-navigation"
      data-visible="false"
      class="primary-navigation flex"
    >
      <li id="nav-li" class="active">
        <a href="#" routerLink="/dashboard">Home</a>
      </li>
      <li id="nav-li" class="">
        <a href="#councils" routerLink="/dashboard" (click)="toTopCouncils()"
          >Councils</a
        >
      </li>
      <li id="nav-li" class="">
        <a href="#" routerLink="/events">Events</a>
      </li>
      <li id="nav-li" class="">
        <a routerLink="gallery">Gallery</a>
      </li>
      <li id="nav-li" class="">
        <a routerLink="https://gymkhana.iith.ac.in/milan">Milan</a>
      </li>
      <li id="nav-li" class="">
        <a routerLink="transperancy">Transparency</a>
      </li>
      <li id="nav-li" class="">
        <a href="#" routerLink="/office-bearers">Office Bearers</a>
      </li>
      <li id="nav-li" class="">
        <a href="#" routerLink="/archives">More</a>
      </li>
    </ul>
  </nav>
</header>
