<!-- <ngx-ui-loader></ngx-ui-loader> -->
<header id="sticky-header" class="primary-header flex">
  <div class="logo-div">
    <a routerLink="/home"
      ><img
        src="../../../../assets/images/landing_page/logo/gymkhana_logo.png"
        alt="Student Gymkhana Logo"
        class="logo"
    /></a>
  </div>

  <button
    class="mobile-nav-toggle"
    aria-controls="primary-navigation"
    aria-expanded="false"
    (click)="mb()"
  >
    <span class="sr-only"></span>
  </button>

  <nav>
    <ul
      id="primary-navigation"
      data-visible="false"
      class="primary-navigation flex"
    >
      <li id="nav-li-home"  [ngClass]="{'active': id === 1 }">
        <a routerLink="/home" (click)="setId(1)">Home</a>
      </li>
      <li id="nav-li-councils" [ngClass]="{'active': id === 2 }">
        <a routerLink="/councils" (click)="setId(2)">Councils</a
        >
      </li>
      <li id="nav-li-events" [ngClass]="{'active': id === 3 }">
        <a  routerLink="/events" (click)="setId(3)">Events</a>
      </li>
      <li id="nav-li-gallery" [ngClass]="{'active': id === 4 }">
        <a routerLink="gallery" (click)="setId(4)">Gallery</a>
      </li>
      <li id="nav-li" class="">
        <a href="https://gymkhana.iith.ac.in/milan">Milan</a>
      </li>
      <li id="nav-li-transperancy" [ngClass]="{'active': id === 5}">
        <a routerLink="transperancy" (click)="setId(5)">Transparency</a>
      </li>
      <li id="nav-li-officebearers" [ngClass]="{'active': id === 6}">
        <a routerLink="/officebearers" (click)="setId(6)">Office Bearers</a>
      </li>
      <li id="nav-li-more" [ngClass]="{'active': id === 7 }">
        <a routerLink="/more" (click)="setId(7)">More</a>
      </li>
    </ul>
  </nav>
</header>
