<body>
	<section>
	  <div class="container">
		<div class="user signinBx">
		  <div class="imgBx"><img src="../../../assets/logos/download.jfif" alt="" /></div>
		  <div class="formBx">
			<form action="" onsubmit="return false;">
			  <h2>Sign In</h2>
			  <input type="text" name="" placeholder="Username" />
			  <input type="password" name="" placeholder="Password" />
			  <button  type="button" class="btn btn-primary btn-lg btn-block" routerLink="/dashboard" >Login</button>
			</form>
		  </div>
		</div>
	  </div>
	</section>
  </body>