
<div class="laptop">
  <ul id="categories" class="clr">
    <li class="pusher"></li>
    <li>
        <div>
          <img src="https://farm3.staticflickr.com/2878/10944255073_973d2cd25c.jpg"  routerLink="/academic-council" alt="" />
          <!-- <h1><a routerLink="/test-council">COUNCIL 1</a></h1>
          <p>some sample test</p> -->
      </div>
    </li>
      <li>
        <div>
          <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" routerLink="/mess-council"/>
          <!-- <h1><a routerLink="/test-council">COUNCIL 1</a></h1>
          <p>Some sample text about the article this hexagon leads to</p> -->
      </div>
    </li>
    <li>
        <div>
          <img src="https://farm5.staticflickr.com/4144/5053682635_b348b24698.jpg" alt=""  routerLink="/media-council"/>
          <!-- <h1><a routerLink="/test-council">COUNCIL 1</a></h1>
          <p>Some sample text about the article this hexagon leads to</p> -->
      </div>
    </li>
    <li>
        <div>
          <img src="https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg"  routerLink="/test-council" alt=""/>
          <!-- <h1><a routerLink="/test-council">COUNCIL 1</a></h1>
          <p>Some sample text about the article this hexagon leads to</p> -->
      </div>
    </li>
    <li>
        <div>
          <img src="https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg"  routerLink="/test-council" alt=""/>
          <!-- <h1><a routerLink="/test-council">COUNCIL 1</a></h1>
          <p>Some sample text about the article this hexagon leads to</p> -->
      </div>
    </li>
    <li class="pusher"></li>
    <li>
        <div>
          <img src="https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg"  routerLink="/test-council"alt=""/>
          <!-- <h1><a routerLink="/test-council">COUNCIL 1</a></h1>
          <p>Some sample text about the article this hexagon leads to</p> -->
      </div>
    </li>
  
    <li>
        <div>
          <img src="https://farm7.staticflickr.com/6092/6227418584_d5883b0948.jpg" alt=""  routerLink="/test-council"/>
          <!-- <h1><a routerLink="/test-council">COUNCIL 1</a></h1>
          <p>Some sample text about the article this hexagon leads to</p> -->
      </div>
    </li>
   </ul>
</div>
<div class="phone">

</div>