<body>
  <section id="intro" class="backgroundit about-section pt-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="wow fadeInUp text-white" data-wow-delay=".5s">
            <span style="letter-spacing: 2px" class="h1">
              Academic<br />Council
            </span>
          </div>
        </div>
        <div class="col-lg-6 text-white">
          <div class="laptop">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
          </div>
          <div class="section-title">
            <p
              class="wow fadeInUp"
              data-wow-delay=".4s"
              style="font-size: 14px; font-weight: 200"
            >
              The Academic Council is an umbrella term for various bodies which
              represent students' grievances,and also cater to students’ needs.
              The Council works in conjunction with the General Secretaries of
              the Student Gymkhana in the preparation of the agenda related to
              academics, well-being and health, and formal and informal student
              activities for the academic year.<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The
              General Council is led by two General Secretaries, a male and a
              female student. Mess Secretaries,Transport Heads and Hostel
              Representatives constitute the rest of the Council.The General
              council strives towards general welfare of the students.It works
              towards giving students at IITH the best stay possible.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    id="Secretary"
    class="service-section pt-100 wow fadeInUp"
    data-wow-delay=".2s"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="row align-items-center d-flex justify-content-center">
          <div class="row" style="width: 540px">
            <div
              class="d-flex img-square-wrapper my-auto justify-content-center col-sm-3"
            >
              <img
                class=""
                src="../../../assets/images/office-bearers/2021-22/Acad.webp"
                alt="Card image cap"
                style="border-radius: 50%; width: 100px; height: 100px"
              />
            </div>
            <div class="card-body my-auto col-sm-6">
              <div class="card-text">Likhit Kumar</div>
              <div class="card-text">Academic Affairs Secretary 1</div>
              <div class="card-text" style="font-size: 14px">
                <i class="fas fa-phone"></i>&nbsp; 8919174545
              </div>
              <div class="card-text" style="font-size: 14px">
                <i class="fas fa-envelope"></i>&nbsp;
                acad_affairs_secy@gymkhana.iith.ac.in
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========================= intro-section end ========================= -->
  <section class="service-section pt-75">
    <div class="container">
      <div class="section-title text-center mb-60">
        <h1 class="wow fadeInUp" data-wow-delay=".2s">Class Representatives</h1>
      </div>
      <ul
        class="nav nav-pills mb-3 justify-content-center"
        id="pills-tab"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active btn-lg"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-home"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
          >
            BTECH
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link btn-lg"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-profile"
            type="button"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
          >
            MTECH
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link btn-lg"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-profile"
            type="button"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
          >
            PHD
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
        >
          <app-btech [btech_crs]="btech_crs_detail"></app-btech>
        </div>
        <div
          class="tab-pane fade"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
        >
          <app-mtech [mtech_crs]="mtech_crs_detail"></app-mtech>
        </div>
        <div
          class="tab-pane fade"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
        >
          <app-phd [phd_crs]="mtech_crs_detail"></app-phd>
        </div>
      </div>
    </div>
  </section>

  <section id="SUGC" class="service-section pt-100">
    <div class="container">
      <div
        class="section-title text-center mb-60 wow fadeInUp"
        data-wow-delay=".2s"
      >
        <h1>SUGC</h1>
      </div>
      <div class="section-title">
        <p
          class="wow fadeInUp"
          data-wow-delay=".4s"
          style="text-align: justify"
        >
          Student Gymkhana IITH is the student body of IIT Hyderabad which aims
          to bring the students together for their mutual all-round development.
          All the members of the Student Gymkhana are bounded by the Student
          Gymkhana Constitution and functions through its Executive Council,
          with the guidance of faculty incharges.
        </p>
      </div>
      <div class="section-title text-center mt-20 mb-30">
        <h2 class="wow fadeInUp" data-wow-delay=".2s">SUGC Members</h2>
      </div>
      <section id="council" class="service-section widthit wow fadeInUp">
        <div class="container">
          <div>
            <div class="container mp" id="mess-coordinator">
              <div class="row">
                <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
                  <div>
                    <div
                      class="card-body"
                      style="padding-left: 0; margin-left: 0"
                    >
                      <h6 class="card-title">Mehul Srivastava</h6>
                      <i
                        class="fas fa-envelope mr-2"
                        style="color: rgba(0, 0, 0, 0.863)"
                      ></i
                      >me21btech11032@iith.ac.in<br />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
                  <div>
                    <div
                      class="card-body"
                      style="padding-left: 0; margin-left: 0"
                    >
                      <h6 class="card-title">Pritee Nagamwad</h6>
                      <i
                        class="fas fa-envelope mr-2"
                        style="color: rgba(0, 0, 0, 0.863)"
                      ></i
                      >ce20btech11023@iith.ac.in<br />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
                  <div>
                    <div
                      class="card-body"
                      style="padding-left: 0; margin-left: 0"
                    >
                      <h6 class="card-title">V. Sathwik</h6>
                      <i
                        class="fas fa-envelope mr-2"
                        style="color: rgba(0, 0, 0, 0.863)"
                      ></i
                      >cs19btech11022@iith.ac.in<br />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
                  <div>
                    <div
                      class="card-body"
                      style="padding-left: 0; margin-left: 0"
                    >
                      <h6 class="card-title">Anuraag Chandra Shukla</h6>
                      <i
                        class="fas fa-envelope mr-2"
                        style="color: rgba(0, 0, 0, 0.863)"
                      ></i
                      >ce18btech11001@iith.ac.in<br />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
                  <div>
                    <div
                      class="card-body"
                      style="padding-left: 0; margin-left: 0"
                    >
                      <h6 class="card-title">Maruthi Indresh</h6>
                      <i
                        class="fas fa-envelope mr-2"
                        style="color: rgba(0, 0, 0, 0.863)"
                      ></i
                      >ms17b21m000001@iith.ac.in<br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>
      </section>
    </div>
  </section>
</body>
