$tab-color: #9d0cdb;
@import "helpers/colors";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.backgroundit {
  background: #010001;
  font-family: "Poppins";
  // line-height: 16px;
  // padding-bottom: 5vh;
  .h1 {
    font-size: 52px;
  }
}
.csssizze {
  font-size: 13vh;
  line-height: 13vh;
  letter-spacing: 2px;
  color: white;
  font-weight: 700;
}
.scssit {
  font-size: 12px;
  font-weight: 200;
  line-height: 16px;
  padding-bottom: 10vh;
}
@media screen and (max-width: 500px) {
  .csssizze {
    font-size: 8vh;
    line-height: 8vh;
    letter-spacing: 2px;
    color: white;
    font-weight: 700;
    padding-bottom: 20px;
  }
}

.h3 {
  font-weight: 600;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.widthit {
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
}
@media screen and (max-width: 900px) {
  .widthit {
    width: 100vw;
    margin: 0;
  }
}
h1 {
  color: black;
}
* {
  font-family: "Poppins";
}
i {
  font-family: "Font Awesome 5 Free";
}
.card {
  position: relative;
  width: 350px;
  height: 400px;
  background: #fff;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.7s;
  z-index: -1;
}
.card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.card:hover .imgBx {
  bottom: 80px;
}

.card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}
.teamit {
  font-weight: 600;
}
.card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}

.card .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #753bbd;
  display: block;
  margin-top: 5px;
}
* {
  overflow: hidden;
  color: #000;
}
