<body>
  <section id="intro" class="backgroundit about-section pt-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-white">
            <span class="wow fadeInUp text-white csssizze" data-wow-delay=".2s">
              General <br />Council
            </span>
          </div>
        </div>
        <div class="col-lg-6 text-white">
          <div class="laptop">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
          </div>
          <div class="section-title">
            <p class="wow fadeInUp text-white scssit" data-wow-delay=".4s">
              The General Council is an umbrella term for various bodies which
              represent students' grievances,and also cater to students’ needs.
              The Council works in conjunction with the General Secretaries of
              the Student Gymkhana in the preparation of the agenda related to
              academics, well-being and health, and formal and informal student
              activities for the academic year.<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The
              General Council is led by two General Secretaries, a male and a
              female student. Mess Secretaries,Transport Heads and Hostel
              Representatives constitute the rest of the Council.The General
              council strives towards general welfare of the students.It works
              towards giving students at IITH the best stay possible.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="council" class="service-section pt-100">
    <div class="container">
      <div class="section-title text-center mb-60">
        <h1 class="wow fadeInUp teamit" data-wow-delay=".2s">Team</h1>
      </div>
      <div class="row align-items-center">
        <div class="row align-items-center d-flex justify-content-center">
          <div class="row" style="width: 540px">
            <div
              class="d-flex img-square-wrapper my-auto justify-content-center col-sm-3"
            >
              <img
                class=""
                src="../../../assets/images/office-bearers/2021-22/gensec1.webp"
                alt="Card image cap"
                style="border-radius: 50%; width: 100px; height: 100px"
              />
            </div>
            <div class="card-body my-auto col-sm-6">
              <div class="card-text" style="line-height: 16px">
                Vaibhav Gupta
              </div>
              <div class="card-text" style="line-height: 16px">
                General Secretary 1
              </div>
              <div class="card-text pt-2" style="font-size: 14px">
                <i class="fas fa-phone"></i>&nbsp; 7357466555
              </div>
              <div class="card-text" style="font-size: 14px">
                <i class="fas fa-envelope"></i>&nbsp;
                general_secy_1@gymkhana.iith.ac.in
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center">
          <div class="row" style="width: 540px">
            <div
              class="d-flex img-square-wrapper my-auto justify-content-center col-sm-3"
            >
              <img
                class=""
                src="../../../assets/images/office-bearers/2021-22/gensec2.webp"
                alt="Card image cap"
                style="border-radius: 50%; width: 100px; height: 100px"
              />
            </div>
            <div class="card-body my-auto col-sm-6">
              <div class="card-text" style="line-height: 16px">
                Pranjal Narendra Deshale
              </div>
              <div class="card-text" style="line-height: 16px">
                General Secretary 2
              </div>
              <div class="card-text pt-2" style="font-size: 14px">
                <i class="fas fa-phone"></i>&nbsp; 9307534849
              </div>
              <div class="card-text" style="font-size: 14px">
                <i class="fas fa-envelope"></i>&nbsp;
                general_secy_2@gymkhana.iith.ac.in
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="council" class="service-section widthit">
    <br />
    <br />
    <div class="container">
      <div>
        <h3 class="h3">Transport Head</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Santhosh Dhaladuli
                  </h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >transport@gymkhana.iith.ac.in<br />
                  <i
                    class="fas fa-phone mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >9392706729
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <h3 class="h3">Media and Public Relations Head</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Tisha Rajeev Pantawane
                  </h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >media_secy@gymkhana.iith.ac.in<br />
                  <i
                    class="fas fa-phone mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >8999428103
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <h3 class="h3">UG Representatives</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Brighesh Aghav
                  </h6>
                  <h6 class="card-title" style="line-height: 16px">
                    Undergraduate Representative 1
                  </h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ug_rep@gymkhana.iith.ac.in<br />
                  <i
                    class="fas fa-phone mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >8698488688
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Likitha.S
                  </h6>
                  <h6 class="card-title" style="line-height: 16px">
                    Undergraduate Representative 2
                  </h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ug_rep@gymkhana.iith.ac.in<br />
                  <i
                    class="fas fa-phone mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >8328596047
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <h3 class="h3">PG Representatives</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Harshavardhan Pallam
                  </h6>
                  <h6 class="card-title" style="line-height: 16px">
                    Postgraduate Representative 1
                  </h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >pg_rep@gymkhana.iith.ac.in<br />
                  <i
                    class="fas fa-phone mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >9959547230
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Ipsita Joshi
                  </h6>
                  <h6 class="card-title" style="line-height: 16px">
                    Postgraduate Representative 2
                  </h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >pg_rep@gymkhana.iith.ac.in<br />
                  <i
                    class="fas fa-phone mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >7356899305
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <h3 class="h3">Doctoral Representative</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Vinod Sharma
                  </h6>
                  <h6 class="card-title" style="line-height: 16px">
                    Doctoral Representative
                  </h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >phd_rep@gymkhana.iith.ac.in<br />
                  <i
                    class="fas fa-phone mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >8985102141
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="padding-left: 0; margin-left: 0"></div>
        </div>
        <br />
        <br />
        <!-- <br />
        <br /> -->

        <h3 class="h3">Hostel Representatives</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Ahinraj MS
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Ramanuja
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Adil Shafi
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Ramanuja
                  <!-- <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ee20mtech11002@iith.ac.in -->
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Hadi Afnan
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Ramanuja
                  <!-- <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ee20mtech11002@iith.ac.in -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Adithi Sirpa
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Gargi
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Gopika K.T
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Gargi
                  <!-- <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ee20mtech11002@iith.ac.in -->
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Lohitha Naidu
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Maitreyi
                  <!-- <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ee20mtech11002@iith.ac.in -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Yerni Jyotsna
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Maitreyi
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Ankush Sonu Ghatran
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Varahamitra
                  <!-- <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ee20mtech11002@iith.ac.in -->
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Imran Riyaz
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Varahamitra
                  <!-- <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ee20mtech11002@iith.ac.in -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    V Sarath Chandra
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >BrahmaGupta
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Banoth Raja Rohith
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >BrahmaGupta
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Hemanth K
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Vyasa
                  <!-- <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ee20mtech11002@iith.ac.in -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Mudavath Sairaj
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Vyasa
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Rishabh kumar singh
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Kautilya
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Dheeban Jayraj R
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Kautilya
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Dhananjay Singh
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Susruta
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Hanuman singh dagur
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Susruta
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Harshal Verma
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Charaka
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Vipin kumar
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Charaka
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Danda Sai Pravalika
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Bhaskara
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Pritee Nagamwaad
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Bhaskara
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Divya Gupta
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Aryabhatta
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Shantanu Shyamsunder
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Kapila
                </div>
              </div>
            </div>
            <div class="col-sm-4" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title" style="line-height: 16px">
                    Agathiyaan Susil
                  </h6>
                  <i
                    class="fas fa-home mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >Kapila
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
  </section>
</body>
<!-- </html> -->
