<body>
  <section id="intro" class="backgroundit about-section pt-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-white">
            <span class="wow fadeInUp text-white" style="letter-spacing: 2px;" data-wow-delay=".2s">
              General <br>Council
            </span>
          </div>
        </div>
        <div class="col-lg-6 text-white" >
           <div class="laptop"><br>
            <br>
            <br>
            <br>
            <br>
            <br></div>
          <div class="section-title">
            <p
              class="wow fadeInUp"
              data-wow-delay=".4s"
              style="font-size: 14px;font-weight: 200;"
            >
            The General Council is an umbrella term for various bodies which represent students' grievances,and also cater to students’ needs. The Council works in conjunction with the General Secretaries of the Student Gymkhana in the preparation of the agenda related to academics, well-being and health, and formal and informal student activities for the academic year.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The General Council is led by two General Secretaries, a male and a female student. Mess Secretaries,Transport Heads and Hostel Representatives constitute the rest of the Council.The General council strives towards general welfare of the students.It works towards giving students at IITH the best stay possible.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="council" class="service-section pt-100">
    <div class="container">
      <div class="section-title text-center mb-60">
        <h1 class="wow fadeInUp" data-wow-delay=".2s">Team</h1>
      </div>
      <div class="row align-items-center">
        <div class="col m-4">
          <div class="card">
            <div class="imgBx">
              <img
                src="../../../assets/images/office-bearers/2021-22/gensec1.webp"
                alt="images"
              />
            </div>
            <div class="details">
              <h2>Vaibhav Gupta<br /><span>General Secretary 1</span></h2>
            </div>
          </div>
        </div>
        <div class="col m-4">
          <div class="card">
            <div class="imgBx">
              <img
                src="../../../assets/images/office-bearers/2021-22/gensec2.webp"
                alt="images"
              />
            </div>
            <div class="details">
              <h2>
                Pranjal Narendra Desale<br /><span>General Secretary 2</span>
              </h2>
            </div>
          </div>
        </div>
        <div class="col m-4">
          <div class="card">
            <div class="imgBx">
              <img
                src="../../../assets/images/office-bearers/2021-22/mess.webp"
                alt="images"
              />
            </div>
            <div class="details">
              <h2>Manoj Gayala<br /><span>Mess Secretary</span></h2>
            </div>
          </div>
        </div>
        <div class="col m-4">
          <div class="card">
            <div class="imgBx">
              <img
                src="../../../assets/images/office-bearers/2021-22/transporthead.webp"
                alt="images"
              />
            </div>
            <div class="details">
              <h2>
                Santhosh Dhaladuli<br /><span>Transport Head</span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<!-- </html> -->
