    <body>
            <div class="slider">
              <!----------------- Elan ------------------->
              <div class="slide active">
                <img src="../../../assets/images/events/Elan_pronites.avif" alt="Elan/nVision Annual Fest of IIT Hyderabad">
                <div class="info">
                  <a href="https://elan.org.in/"><h2>Elan & nVision</h2></a>
                  <p>The annual techno-cultural fest of IIT H and is one of the largest fests in South India.</p>
                </div>
              </div>
              <!----------------- Milan ------------------->
              <div class="slide">
                <img src="../../../assets/images/events/Milan.avif" alt="Milan - Annual interhostel meett of IIT Hyderabad">
                <div class="info">
                  <a href="https://gymkhana.iith.ac.in/milan"><h2>Milan</h2></a>
                  <p>Annual interhostel meet of IIT H across sports & techno-cultural events.</p>
                </div>
              </div>
              <!----------------- Diesta ------------------->
              <div class="slide">
                <img src="../../../assets/images/events/diesta.avif" alt="Interdepartmental sports and cultural fest of IIT Hyderabad">
                <div class="info">
                  <a href="https://bit.ly/3NO0fv5"><h2>Diesta</h2></a>
                  <p>Interdepartmental sports and cultural fest. From faculty to students, this event brings the IITH family closer.</p>
                </div>
              </div>
              <!----------------- Cult-Combat ------------------->
              <div class="slide">
                <img src="../../../assets/images/events/culti.avif" alt="cultural meet of IIT Hyderabad">
                <div class="info">
                  <a href="https://bit.ly/3r1KdEm"><h2>Cult-Combat</h2></a>
                  <p>Got skills in culturals? Bring it on!</p>
                </div>
              </div>
              <!----------------- Open-mic ------------------->
              <div class="slide">
                <img src="../../../assets/images/events/openmic.avif" alt="open mic event IIT Hyderabad">
                <div class="info">
                  <a href="https://bit.ly/3IYYEPy"><h2>Open Mic</h2></a>
                  <p>The stage is open for you to perform and finish with a mic drop!</p>
                </div>
              </div>
              <!----------------- Sci-Tech Week ------------------->
              <div class="slide">
                <img src="../../../assets/images/events/automobile.avif" alt="Techno Fest of IIT Hyderabad">
                <div class="info">
                  <a href="https://bit.ly/3r0fvve"><h2>Sci-tech Week</h2></a>
                  <p>Geek for Geek and Geek against Geek. Let's find out who's the geekiest of them all in scitech week.</p>
                </div>
              </div>
              <!----------------- Abhyant ------------------->
              <div class="slide">
                <img src="../../../assets/images/events/Abhyant.avif" alt="Annual Sports Fest of IIT Hyderabad">
                <div class="info">
                  <a href="https://bit.ly/3NN55ZK"><h2>Abhyant</h2></a>
                  <p>Annual sports fest of IITH. Several intense battles are fought and star athletes are born here.</p>
                </div>
              </div>
              <!----------------- Zozimus ------------------->
              <div class="slide">
                <img src="../../../assets/images/events/MOBILEBANNERZOZ.avif" alt="Elan/nVision Annual Fest of IIT Hyderabad">
                <div class="info">
                  <a href="https://zozimus.in/"><h2>Zozimus</h2></a>
                  <p>The literary fest of IIT Hyderabad.  It has various events like debates, quizzes, writing competitions and so on. Zozimus 2022 will be the 2nd edition of zozimus.</p>
                </div>
              </div>
              <!----------------- Leagues ------------------->
              <div class="slide">
                <img src="../../../assets/images/events/leagues.avif" alt="League Competetion of IIT H">
                <div class="info">
                  <a href="https://bit.ly/3NN55ZK"><h2>Leagues</h2></a>
                  <p>A stage for athletes to come and showcase their talent by competing with the best, all while upholding the true spirit of sportspersonship.</p>
                </div>
              </div>
              <!----------------- DJ Night ------------------->
              <div class="slide">
                <img src="../../../assets/images/events/DJ Night.avif" alt="DJ and Ice-cream Night">
                <div class="info">
                  <h2>DJ & Ice-cream Night</h2>
                  <p>Unlimited Ice cream and a dj! sounds fun, right?  A good stress buster, with dancing to the dj and eating loads of ice cream, it is one of the most awaited nights :) </p>
                </div>
              </div>
              <!----------------- Alumni Meet ------------------->
              <div class="slide">
                <img src="../../../assets/images/events/alumnimeet.avif" alt="Alumni Meet">
                <div class="info">
                  <a href="https://bit.ly/38qHX2Y"><h2>Alumni Meet</h2></a>
                  <p>The alumni meet is a celebration of the success of the extended family of IITH.</p>
                </div>
              </div>
              <!----------- Navigation Menu ----------->
              <div class="navigation">
                <i class="fas fa-chevron-left prev-btn"></i>
                <i class="fas fa-chevron-right next-btn"></i>
              </div>
              <!----------- Navigation Visibility ----------->
              <div class="navigation-visibility">
                <div class="slide-icon active"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
                <div class="slide-icon"></div>
              </div>
            </div>
    </body>
  <!------------- Elan ------------------>
  
