    <section id="intro" class="about-section pt-300">
      <div class="container-fluid mb-5">
        <div class="row gutters">
        <div class="banner1">
          <img src="./assets/images/events/Elan_pronites.avif" alt="Elan Pronites">
          <div class="text-box text-box1">
            <h1>Elan & nVision</h1>
            <span></span>
            <p>The Annual Techno-cultural fest of IIT Hyderabad.</p>
          </div>
        </div>
        <!------------- Milan ------------------>
        <div class="banner2">
          <img src="./assets/images/events/Milan.avif" alt="Milan - Inter Hostel Competetion">
          <div class="text-box text-box2">
            <h1>Milan</h1>
            <span></span>
            <p>Annual Inter-hostel Techno-cultural Meet.</p>
          </div>
        </div>
        <!------------- Diesta ------------------>
        <div class="banner3">
          <img src="./assets/images/events/diesta.avif" alt="Milan - Inter Hostel Competetion">
          <div class="text-box text-box3">
            <h1>Diesta</h1>
            <span></span>
            <p>Inter-departmental sports & cultural competetion.</p>
          </div>
        </div>
        <!------------- Open Mic ------------------>
        <div class="banner4">
          <img src="./assets/images/events/openmic.avif" alt="Milan - Inter Hostel Competetion">
          <div class="text-box text-box4">
            <h1>Open Mic</h1>
            <span></span>
            <p>Student platform to showcase artistic talent and creativity in dance, music, drama.</p>
          </div>
        </div>
        <!------------- Cult Combat ------------------>
        <div class="banner5">
          <img src="./assets/images/events/culti.avif" alt="Milan - Inter Hostel Competetion">
          <div class="text-box text-box5">
            <h1>Cult-Combat</h1>
            <span></span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, suscipit.</p>
          </div>
        </div>
        <!------------- Abhyant ------------------>
        <div class="banner6">
          <img src="/assets/images/events/automobile.avif" alt="Milan - Inter Hostel Competetion">
          <div class="text-box text-box6">
            <h1>Abhyant</h1>
            <span></span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, delectus!</p>
          </div>
        </div>
      </div>
    </div>
    </section>
  <!------------- Elan ------------------>
  
