<body>
    <h2 class="text-center text-white pt-45 pb-45 fontIT">Office Bearers 2018-19</h2>
    <section id="row1" class="about-section pt-30">
      <!------------------------------ president card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2018-19/President_SolomonS.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              2
              <h3>
                SOLOMON S <br /><span>President</span><br /><span
                  style="color: #ADADAD"
                  ><i class="fas fa-phone-alt"></i></span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li >
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li >
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ GenSec1 card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2018-19/GenSec1_VishwajithRathod.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                VISHWAJITH<br />
                RATHOD<br /><span>General Secretary 1</span><br /><span
                  style="color: #ADADAD"
                  ><i class="fas fa-phone-alt"></i> </span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ GenSec2 card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2018-19/GenSec2_GannaSriLaxmi.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                GANNA SRI LAXMI<br /><span>General Secretary 2</span
                ><br /><span style="color: #ADADAD"
                  ><i class="fas fa-phone-alt"></i></span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ Media card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="#"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                AKSHITA RAMYA <br /><span
                  >Media and Public relations Head</span
                ><br /><span style="color: #ADADAD"
                  ><i class="fas fa-phone-alt"></i> 8999428103</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ Acad card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2018-19/acad_AellaAbhilashReddy.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                ABHILASH REDDY <br /><span>Academic Affairs Secretary</span
                ><br /><span style="color: #ADADAD"
                  ><i class="fas fa-phone-alt"></i></span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ Scitech card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2018-19/Scitech_Snehith.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                SNEHITH<br /><span>Science and Technology Secretary</span
                ><br /><span style="color: #ADADAD"
                  ><i class="fas fa-phone-alt"></i></span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ Sports card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2018-19/Sports_ChowdamJeevanChandra.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                JEEVAN CHANDRA <br /><span>Sports Secretary</span><br /><span
                  style="color: #ADADAD"
                  ><i class="fas fa-phone-alt"></i></span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ Ug1 card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2018-19/UGrep1_KodathalaLokeshReddy.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                LOKESH<br />
                REDDY <br /><span>Undergraduate Representative 1</span><br /><span
                  style="color: #ADADAD"
                  ><i class="fas fa-phone-alt"></i></span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ UG2 card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2018-19/UGrep2_UmaReddyS.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                UMA REDDY <br /><span>Undergraduate Representative 2</span
                ><br /><span style="color: #ADADAD"
                  ><i class="fas fa-phone-alt"></i></span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ PG1 card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2018-19/PGrep1_UttaranSinha.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                UTTARAN SINHA<br /><span
                  >Postgraduate Representative 1</span
                ><br /><span style="color: #ADADAD"
                  ><i class="fas fa-phone-alt"></i></span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ PG2 card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2018-19/PGrep2_PriyankaGoyal.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                PRIYANKA<br />
                GOYAL <br /><span>Postgraduate Representative 2</span><br /><span
                  style="color: #ADADAD"
                  ><i class="fas fa-phone-alt"></i></span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ mess card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2018-19/Mess_KolliparaAnirudh.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                ANIRUDH<br />
                <br /><span>Mess Secretary</span><br /><span
                  style="color: #ADADAD"
                  ><i class="fas fa-phone-alt"></i></span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
  