<body>
   <section id="intro" class="about-section pt-150">
      <div class="container">
         <div class="row">
            <div class="col-lg-10">
               <div class="about-content">
                  <div class="section-title">
                     <h1 class="wow fadeInUp" data-wow-delay=".2s">
                        MESS COUNCIL
                        IIT HYDERABAD
                     </h1>
                     <p class="wow fadeInUp" data-wow-delay=".4s" style="text-align: justify">
                        Mess Monitoring Council, also known as MMC, assists in the robust functioning of mess in
                        co-ordination with mess wardens and HCU. Headed by Mess Secretary, it represents the students'
                        voice. MMC is responsible for menu preparation, mess inspection, and the grievance cell. It also
                        regularly inspects the operations to look for various faults and ensure that the food quality is
                        maintained at IITH. It strives to ensure that all the students have enjoyable and healthy meals
                        at their second home.
                     </p>
                     <hr />
                  </div>
                  <div class="section-title">
                     <p class="wow fadeInUp" data-wow-delay=".4s" style="text-align: justify">
                        Students can view the mess menu form, submit grievances, and collect dining food token through
                        the links that are given below:
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="intro" class="about-section">
      <div class="container">
         <div class="row">
            <div class="col-lg-10">
               <div class="about-content">
                  <div class="row my-4">
                     <div class="col-lg-9">
                        <div class="card cardone shadowit z-depth-2 wow fadeInUp">
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-lg-8">
                                    <h5 class="card-title pb-3">Mess Menu</h5>
                                    <p class="card-text pb-1">Please find the menu of mess.</p>
                                 </div>
                                 <div class="col-lg-4 my-auto" style="display: flex;justify-content: flex-end;">
                                    <button type="button" class="btn btn-dark btn-style text-uppercase"
                                       style="border: none;letter-spacing: 2px;">View Menu</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-1"></div>
                  </div>
                  <div class="row my-4">
                     <div class="col-lg-9 shadowit">
                        <div class="card cardone z-depth-2 wow fadeInUp">
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-lg-8">
                                    <h5 class="card-title pb-3">Mess grievance form</h5>
                                    <p class="card-text pb-1">Please fill this form regarding mess complaints.</p>
                                 </div>
                                 <div class="col-lg-4 my-auto mx-auto" style="display: flex;justify-content: flex-end;">
                                    <button type="button" class="btn btn-dark btn-style text-uppercase"
                                       style="border: none;letter-spacing: 2px;">Fill out</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3"></div>
                  </div>
                  <div class="row my-4">
                     <div class="col-lg-9 shadowit">
                        <div class="card cardone z-depth-2 wow fadeInUp">
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-lg-8">
                                    <h5 class="card-title pb-3">Dining IITH</h5>
                                    <p class="card-text pb-1">For food token</p>
                                 </div>
                                 <div class="col-lg-4 my-auto mx-auto" style="display: flex;justify-content: flex-end;">
                                    <button type="button" class="btn btn-dark btn-style text-uppercase"
                                       style="border: none;letter-spacing: 2px;">Fill out</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-1"></div>
                  </div>
                  <div class="row my-4">
                     <div class="col-lg-9 shadowit">
                        <div class="card cardone z-depth-2 wow fadeInUp">
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-lg-8">
                                    <h5 class="card-title pb-3">Interim Mess Pricing</h5>
                                    <p class="card-text pb-1">Please find details of interim mess pricing.</p>
                                 </div>
                                 <div class="col-lg-4 my-auto mx-auto" style="display: flex;justify-content: flex-end;">
                                    <button type="button" class="btn btn-dark btn-style text-uppercase"
                                       style="border: none;letter-spacing: 2px;">View Pricing</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3"></div>
                  </div>
               </div>
               <hr />
            </div>
         </div>
      </div>
   </section>
   <section id="council" class="service-section">
      <div class="container">
         <div class="section-title text-center">
            <h1 class="wow fadeInUp pb-20" data-wow-delay=".2s">Team Members</h1>
         </div>
         <div class="row align-items-center">
            <div class="col">
               <div class="card1">
                  <div class="imgBx">
                     <img
                        src="../../../assets/images/office-bearers/2021-22/mess.webp"
                        alt="images" />
                  </div>
                  <div class="details">
                     <h2>Gayala Manoj<br /><span>Mess Secretary</span></h2>
                  </div>
               </div>
            </div>
         </div>
         <br />
         <br />
         <div>
            <!-- <div class="container" style="display: flex;justify-content: space-between;">
               <button type="button" class="btn btn-style mess-coordinator" (click)="coord()">Mess Coordinator</button>
               <button type="button" class="btn btn-style mess-grievance" (click)="griev()">Mess Grievance Cell</button>
               <button type="button" class="btn btn-style mess-cmc" (click)="cmc()">CMC Coordinator</button>
               <button type="button" class="btn btn-style mess-canteen" (click)="cinsp()">Canteen Inspection</button>
               <button type="button" class="btn btn-style mess-canteen-grievance" (click)="cgri()">Canteen
                  Grievances</button>
            </div>
            <br />
            <div class="container" style="display: flex;justify-content: space-between;">
               <button type="button" class="btn btn-style mess-inspection" (click)="inspect()">Mess Inspection
                  Team</button>
               <button type="button" class="btn btn-style mess-premises" (click)="hygene()">Mess Premises Hygiene
                  Checking Team</button>
               <button type="button" class="btn btn-style mess-preparation" (click)="prep()">Mess Preparation
                  Team</button>
               <button type="button" class="btn btn-style mess-canteen-premises" (click)="chygene()">Canteen Premises
                  Hygiene
                  Checking</button>
            </div> -->
            <!-- <br /> -->
            <!-- <br /> -->
            <h1 class="my-2">Mess Coordinator</h1>
            <div class="container mp" id="mess-coordinator">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Arkajyoti Jha</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ph20mscst11018@iith.ac.in
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">

                  </div>
               </div>
            </div>
            <br><hr>
            <h1 class="my-2">Mess Grievance cell</h1>
            <div  class="container mp" id="mess-coordinator">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Mangesh</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>me17resch11003@iith.ac.in
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">

                  </div>
               </div>
            </div>
            <br><hr>
            <h1 class="my-2">CMC Coordinator</h1>
            <div class="container mp" id="mess-coordinator">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Omkar Sangabathula</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ch18resch01007@iith.ac.in
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">

                  </div>
               </div>
            </div>
            <br><hr>
            <h1 class="my-2">Canteen Inspection</h1>
            <div  class="container mp" id="mess-coordinator">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">B RAMU</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ce17resch11002@iith.ac.in
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">

                  </div>
               </div>
            </div>
            <br><hr>
            <h1 class="my-2">Canteen Grievances</h1>
            <div  class="container mp" id="mess-coordinator">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">keval</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>cs20mtech01003@iith.ac.in
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">

                  </div>
               </div>
            </div>
            <br><hr>
            <h1 class="my-2">Mess Inspection
               Team</h1>
            <div class="container mp" id="mess-coordinator">
               <div class="row">
                  <div class="col-sm-4">

                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Harsha Vardhan Pallam</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ce20mtech11011@iith.ac.in
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">P Padmini</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i> ce19resch11009@iith.ac.in
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Abin S</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>bm20mtech11005@iith.ac.in
                        </div>
                     </div>

                  </div>
               </div>
            </div>
            <br><hr>
            <h1 class="my-2">Mess Premises checking team</h1>
            <div  class="container mp" id="mess-coordinator">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Swetam Sinha</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ph20mscst11018@iith.ac.in
                        </div>
                     </div>

                  </div>
                  <div class="col-sm-4">
                  </div>
                  <div class="col-sm-4">

                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Keval</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>cs20mtech01003@iith.ac.in
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <br><hr>
            <h1 class="my-2">Mess Preparation
               Team</h1>
            <div class="container mp" id="mess-coordinator">
               <div class="row">
                  <div class="col-sm-4">

                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Chaitanya Reddy</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>cs20resch11001@iith.ac.in
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Ajana Dhaval</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ph20mscst11023@iith.ac.in
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Ishita Naskar</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>cy20resch12001@iith.ac.in
                        </div>
                     </div>

                  </div>
               </div>
            </div>
            <br><hr>
            <h1 class="my-2">Canteen Premises
               Hygiene
               Checking</h1>
            <div class="container mp" id="mess-coordinator">
               <div class="row">
                  <div class="col-sm-4">
                     <div class="card">
                        <div class="card-body">
                           <h5 class="card-title">Nambi Sreekanth</h5>
                           <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ee20mtech11002@iith.ac.in
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">

                  </div>
               </div>
            </div>
            <br>
         </div>
         <!-- <div class="phone container">
            <div class="row mt-2">
               <h1>Mess Coordinator</h1>
               <div class="col-sm-5 card mt-2">
                  <div class="card-body">
                     <h5 class="card-title">Arkajyoti Jha</h5>
                     <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>me20resch11001@iith.ac.in
                  </div>
               </div>
            </div>
            <div class="row mt-2">
               <h1>Mess Insection Team</h1>
               <div class="col-sm-5 card mt-2">
                  <div class="card-body">
                     <h5 class="card-title">Harsha Vardhan Pallam</h5>
                     <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ce20mtech11011@iith.ac.in
                  </div>
               </div>
               <div class="col-sm-5 card mt-2 ml-4">
                  <div class="card-body">
                     <h5 class="card-title">P Padmini</h5>
                     <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ce19resch11009@iith.ac.in
                  </div>
               </div>
               <div class="col-sm-5 card mt-2">
                  <div class="card-body">
                     <h5 class="card-title">Abin S</h5>
                     <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>bm20mtech11005@iith.ac.in
                  </div>
               </div>
            </div>
            <div class="row mt-2">
               <h1>Mess Premises Hygiene Checking Team</h1>
               <div class="col-sm-5 card mt-2">
                  <div class="card-body">
                     <h5 class="card-title">Swetam Sinha</h5>
                     <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ph20mscst11018@iith.ac.in
                  </div>
               </div>
               <div class="col-sm-5 card mt-2 ml-4">
                  <div class="card-body">
                     <h5 class="card-title">Keval</h5>
                     <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>cs20mtech01003@iith.ac.in
                  </div>
               </div>
            </div>
         </div> -->
      </div>
   </section>

   <!-- <section id="council" class="service-section pt-100">
      <div class="container">
         <div class="section-title text-center mb-60">
            <h1 class="wow fadeInUp" data-wow-delay=".2s">Team Members</h1>
         </div>
         <div class="row align-items-center">
            <div class="col">
               <div class="card">
                  <div class="imgBx">
                     <img
                        src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                        alt="images" />
                  </div>
                  <div class="details">
                     <h2>Likhit<br /><span>Academic Affairs Secretary</span></h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section> -->
</body>