<body>
  <section id="intro" class="backgroundit about-section pt-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-white">
            <h1
              class="wow fadeInUp text-white"
              style="letter-spacing: 2px"
              data-wow-delay=".2s"
            >
              Mess <br />Council
            </h1>
          </div>
        </div>
        <div class="col-lg-6 text-white">
          <div class="laptop">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
          </div>
          <div class="section-title">
            <p
              class="wow fadeInUp"
              data-wow-delay=".4s"
              style="font-size: 14px; font-weight: 200"
            >
              Mess Monitoring Council, also known as MMC, assists in the robust
              functioning of mess in co-ordination with mess wardens and HCU.
              Headed by Mess Secretary, it represents the students' voice. MMC
              is responsible for menu preparation, mess inspection, and the
              grievance cell. It also regularly inspects the operations to look
              for various faults and ensure that the food quality is maintained
              at IITH. It strives to ensure that all the students have enjoyable
              and healthy meals at their second home.
            </p>
          </div>
          <div class="section-title">
            <p
              class="wow fadeInUp"
              data-wow-delay=".4s"
              style="font-size: 14px; font-weight: 200"
            >
              Students can view the mess menu form, submit grievances, and
              collect dining food token through the links that are given below:
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="intro" class="about-section">
    <div class="container">
      <div class="row m-auto">
        <div class="col-lg-12 m-auto">
          <div class="container">
            <div class="section-title mb-60"></div>
            <div class="row">
              <div class="col-md-4 col-lg-3 d-flex justify-content-center">
                <div class="card2">
                  <p class="title mb-4">Mess Menu</p>
                  <button class="btn mt-2 btn-style">View Menu</button>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 d-flex justify-content-center">
                <div class="card2">
                  <p class="title">Mess grievance form</p>
                  <span class="text mb-3"
                    >Fill the form if you have compliants</span
                  >
                  <button class="btn btn-style">Fill Form</button>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 d-flex justify-content-center">
                <div class="card2">
                  <p class="title mb-4">Dining</p>
                  <button class="btn btn-style">Fill Form</button>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 d-flex justify-content-center">
                <div class="card2">
                  <p class="title mb-4">Interim Mess Pricing</p>
                  <button class="btn btn-style">View Pricing</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="council" class="service-section widthit">
    <br />
    <br />
    <div class="container">
      <div class="section-title text-center">
        <h1 class="wow fadeInUp pb-20" data-wow-delay=".2s">Team</h1>
      </div>
      <!-- <div class="img d-flex justify-content-center">
        <img src="../../../assets/images/img6.jpg" alt="Image" >
      </div> -->
      <div class="row align-items-center d-flex justify-content-center">
        <div class="row" style="width: 540px;">
          <div class="d-flex img-square-wrapper my-auto justify-content-center col-sm-3">
            <img
              class=""
              src="../../../assets/images/office-bearers/2021-22/mess.webp"
              alt="Card image cap" style="border-radius: 50%;width: 100px;height: 100px;"
            />
          </div>
          <div class="card-body my-auto col-sm-6">
            <div class="card-text">
              Gayala Manoj 
            </div>
            <div class="card-text">
              Mess Secretary
            </div>
            <div class="card-text" style="font-size: 14px;">
              <i class="fas fa-phone"></i>&nbsp; 6305560906
            </div>
            <div class="card-text" style="font-size: 14px;">
              <i class="fas fa-envelope"></i>&nbsp; mess_secya@gymkhana.iith.ac.in
            </div>
            
          </div>
        </div>
      </div>
      <br />
      <br />
      <div>
        <!-- <div class="container" style="display: flex;justify-content: space-between;">
               <button type="button" class="btn btn-style mess-coordinator" (click)="coord()">Mess Coordinator</button>
               <button type="button" class="btn btn-style mess-grievance" (click)="griev()">Mess Grievance Cell</button>
               <button type="button" class="btn btn-style mess-cmc" (click)="cmc()">CMC Coordinator</button>
               <button type="button" class="btn btn-style mess-canteen" (click)="cinsp()">Canteen Inspection</button>
               <button type="button" class="btn btn-style mess-canteen-grievance" (click)="cgri()">Canteen
                  Grievances</button>
            </div>
            <br />
            <div class="container" style="display: flex;justify-content: space-between;">
               <button type="button" class="btn btn-style mess-inspection" (click)="inspect()">Mess Inspection
                  Team</button>
               <button type="button" class="btn btn-style mess-premises" (click)="hygene()">Mess Premises Hygiene
                  Checking Team</button>
               <button type="button" class="btn btn-style mess-preparation" (click)="prep()">Mess Preparation
                  Team</button>
               <button type="button" class="btn btn-style mess-canteen-premises" (click)="chygene()">Canteen Premises
                  Hygiene
                  Checking</button>
            </div> -->
        <!-- <br /> -->
        <!-- <br /> -->
        <h3>Mess Coordinator</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">Arkajyoti Jha</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ph20mscst11018@iith.ac.in
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0"></div>
          </div>
        </div>
        <br />
        <br />
        <h3>Mess Preparation Team</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">Chaitanya Reddy</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >cs20resch11001@iith.ac.in
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">Ajana Dhaval</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ph20mscst11023@iith.ac.in
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">Ishita Naskar</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >cy20resch12001@iith.ac.in
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <h3>Mess Grievance cell</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">Mangesh</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >me17resch11003@iith.ac.in
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0"></div>
          </div>
        </div>
        <br />
        <br />
        <h3>CMC Coordinator</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">Omkar Sangabathula</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ch18resch01007@iith.ac.in
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0"></div>
          </div>
        </div>
        <br />
        <br />
        <h3>Mess Inspection Team</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">Harsha Vardhan Pallam</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ce20mtech11011@iith.ac.in
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">P Padmini</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i>
                  ce19resch11009@iith.ac.in
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">Abin S</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >bm20mtech11005@iith.ac.in
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <h3>Canteen Inspection</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">B RAMU</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ce17resch11002@iith.ac.in
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0"></div>
          </div>
        </div>
        <br />
        <br />
        <h3>Canteen Grievances</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">keval</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >cs20mtech01003@iith.ac.in
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0"></div>
          </div>
        </div>
        <br />
        <br />
        <h3>Mess Premises checking team</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">Swetam Sinha</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ph20mscst11018@iith.ac.in
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">Keval</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >cs20mtech01003@iith.ac.in
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />

        <h3>Canteen Premises Hygiene Checking</h3>
        <div class="container mp" id="mess-coordinator">
          <div class="row">
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
              <div>
                <div class="card-body" style="padding-left: 0; margin-left: 0">
                  <h6 class="card-title">Nambi Sreekanth</h6>
                  <i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >ee20mtech11002@iith.ac.in
                </div>
              </div>
            </div>
            <div class="col-sm-6" style="padding-left: 0; margin-left: 0"></div>
          </div>
        </div>
        <br />
        <br />
      </div>
      <!-- <div class="phone container">
            <div class="row mt-2">
               <h1>Mess Coordinator</h3>
               <div class="col-sm-5 card mt-2">
                  <div class="card-body" style="padding-left:0;margin-left:0">
                     <h6 class="card-title">Arkajyoti Jha</h6>
                     <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863);"></i>me20resch11001@iith.ac.in
                  </div>
               </div>
            </div>
            <div class="row mt-2">
               <h1>Mess Insection Team</h3>
               <div class="col-sm-5 card mt-2">
                  <div class="card-body" style="padding-left:0;margin-left:0">
                     <h6 class="card-title">Harsha Vardhan Pallam</h6>
                     <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863);"></i>ce20mtech11011@iith.ac.in
                  </div>
               </div>
               <div class="col-sm-5 card mt-2 ml-4">
                  <div class="card-body" style="padding-left:0;margin-left:0">
                     <h6 class="card-title">P Padmini</h6>
                     <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863);"></i>ce19resch11009@iith.ac.in
                  </div>
               </div>
               <div class="col-sm-5 card mt-2">
                  <div class="card-body" style="padding-left:0;margin-left:0">
                     <h6 class="card-title">Abin S</h6>
                     <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863);"></i>bm20mtech11005@iith.ac.in
                  </div>
               </div>
            </div>
            <div class="row mt-2">
               <h1>Mess Premises Hygiene Checking Team</h3>
               <div class="col-sm-5 card mt-2">
                  <div class="card-body" style="padding-left:0;margin-left:0">
                     <h6 class="card-title">Swetam Sinha</h5>
                     <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863);"></i>ph20mscst11018@iith.ac.in
                  </div>
               </div>
               <div class="col-sm-5 card mt-2 ml-4">
                  <div class="card-body" style="padding-left:0;margin-left:0">
                     <h6 class="card-title">Keval</h6>
                     <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863);"></i>cs20mtech01003@iith.ac.in
                  </div>
               </div>
            </div>
         </div> -->
    </div>
  </section>

  <!-- <section id="council" class="service-section pt-100">
      <div class="container">
         <div class="section-title text-center mb-60">
            <h1 class="wow fadeInUp" data-wow-delay=".2s">Team Members</h3>
         </div>
         <div class="row align-items-center">
            <div class="col">
               <div >
                  <div class="imgBx">
                     <img
                        src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                        alt="images" />
                  </div>
                  <div class="details">
                     <h2>Likhit<br /><span>Academic Affairs Secretary</span></h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section> -->
</body>
