<body>
   <section id="intro" class="about-section pt-150">
      <div class="container">
         <div class="row">
            <div class="col-lg-10">
               <div class="about-content">
                  <div class="section-title">
                     <h1 class="wow fadeInUp" data-wow-delay=".2s">
                        MESS COUNCIL
                        IIT HYDERABAD
                     </h1>
                     <p class="wow fadeInUp" data-wow-delay=".4s" style="text-align: justify">
                        Mess Monitoring Council, also known as MMC, assists in the robust functioning of mess in
                        co-ordination with mess wardens and HCU. Headed by Mess Secretary, it represents the students'
                        voice. MMC is responsible for menu preparation, mess inspection, and the grievance cell. It also
                        regularly inspects the operations to look for various faults and ensure that the food quality is
                        maintained at IITH. It strives to ensure that all the students have enjoyable and healthy meals
                        at their second home.
                     </p>
                     <hr/>
                  </div>
                  <div class="section-title">
                     <p class="wow fadeInUp" data-wow-delay=".4s" style="text-align: justify">
                        Students can view the mess menu form, submit grievances, and collect dining food token through
                        the links that are given below:
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="intro" class="about-section">
      <div class="container">
         <div class="row">
            <div class="col-lg-10">
               <div class="about-content">
                  <div class="row my-4">
                     <div class="col-lg-2"></div>
                     <div class="col-lg-9">
                        <div class="card">
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-lg-8">
                                    <h5 class="card-title pb-3">Mess Menu</h5>
                                    <p class="card-text pb-1">Please find the menu of mess.</p>
                                 </div>
                                 <div class="col-lg-4 my-auto mx-auto">
                                    <button type="button" class="btn btn-dark btn-style text-uppercase" style="border: none;letter-spacing: 2px;">View Menu</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-1"></div>
                  </div>
                  <div class="row my-4">
                     <div class="col-lg-9">
                        <div class="card">
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-lg-8">
                                    <h5 class="card-title pb-3">Mess grievance form</h5>
                                    <p class="card-text pb-1">Please fill this form regarding mess complaints.</p>
                                 </div>
                                 <div class="col-lg-4 my-auto mx-auto">
                                    <button type="button" class="btn btn-dark btn-style text-uppercase" style="border: none;letter-spacing: 2px;">Fill out</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3"></div>
                  </div>
                  <div class="row my-4">
                     <div class="col-lg-2"></div>
                     <div class="col-lg-9">
                        <div class="card">
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-lg-6">
                                    <h5 class="card-title pb-3">Dining IITH</h5>
                                    <p class="card-text pb-1">For food token</p>
                                 </div>
                                 <div class="col-lg-4 my-auto mx-auto">
                                    <button type="button" class="btn btn-dark btn-style text-uppercase" style="border: none;letter-spacing: 2px;">Fill out</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-1"></div>
                  </div>
                  <div class="row my-4">
                     <div class="col-lg-9">
                        <div class="card">
                           <div class="card-body">
                              <div class="row">
                                 <div class="col-lg-8">
                                    <h5 class="card-title pb-3">Interim Mess Pricing</h5>
                                    <p class="card-text pb-1">Please find details of interim mess pricing.</p>
                                 </div>
                                 <div class="col-lg-4 my-auto mx-auto">
                                    <button type="button" class="btn btn-dark btn-style text-uppercase" style="border: none;letter-spacing: 2px;">View Pricing</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3"></div>
                  </div>
               </div>
               <hr/>
            </div>
         </div>
      </div>
   </section>
   <section>
      <section id="council" class="service-section">
         <div class="container">
           <div class="section-title text-center">
             <h1 class="wow fadeInUp pb-20" data-wow-delay=".2s">Team Members</h1>
           </div>
           <div class="row align-items-center">
             <div class="col">
               <div class="card1">
                 <div class="imgBx">
                   <img
                     src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                     alt="images"
                   />
                 </div>
                 <div class="details">
                   <h2>Gayala Manoj<br /><span>Mess Secretary</span></h2>
                 </div>
               </div>
             </div>
           </div>
           <br/>
           <br/>
           <div class="container">
            <div class="row flip-boxes">
              <div class="col-md-3 col-sm-4 col-8 flip-box">
               <div class="front" style="background-image: url(https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&h=350);">
                 <div class="content text-center">
                  First<br>
                  <span class="click-for-more">
                  </span>
                 </div>
               </div>
               <div class="back">
                 <div class="content">
                  First Back
                 </div>
               </div>
              </div>
              <div class="col-md-3 col-sm-4 col-8 flip-box">
               <div class="front" style="background-image: url(https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&h=350);">
                 <div class="content text-center">
                  First<br>
                  <span class="click-for-more">
                  </span>
                 </div>
               </div>
               <div class="back">
                 <div class="content">
                  First Back
                 </div>
               </div>
              </div>
              <div class="col-md-3 col-sm-4 col-8 flip-box">
               <div class="front" style="background-image: url(https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&h=350);">
                 <div class="content text-center">
                  First<br>
                  <span class="click-for-more">
                  </span>
                 </div>
               </div>
               <div class="back">
                 <div class="content">
                  First Back
                 </div>
               </div>
              </div>
            </div>
           </div>
         </div>
       </section>
     
   </section>
   <!-- <section id="council" class="service-section pt-100">
      <div class="container">
         <div class="section-title text-center mb-60">
            <h1 class="wow fadeInUp" data-wow-delay=".2s">Team Members</h1>
         </div>
         <div class="row align-items-center">
            <div class="col">
               <div class="card">
                  <div class="imgBx">
                     <img
                        src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                        alt="images" />
                  </div>
                  <div class="details">
                     <h2>Likhit<br /><span>Academic Affairs Secretary</span></h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section> -->
</body>