<div class="container py-5">
  <div class="row text-center">
    <div class="col-lg-12">
      <h1>Election Contestant</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>PRESIDENT</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4" style="justify-content: center">
    <div class="col">
      <div class="card card-blue h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="president1" class="card-img-top" alt="Thomas" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">AAKASH DASWANI</p>
          <a href="../../../../assets/electionspdf/pdf21/Aakash-President.pdf" download="Aakash-President"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-pink h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="president2" class="card-img-top" alt="Jasmine" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">HARI OM SINGH
          </p>
          <a href="../../../../assets/electionspdf/pdf21/Hari.pdf" download="Hari_Om_Singh"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>Student Welfare Secretary</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1" style="justify-content: center">
    <div class="col">
      <div class="card card-blue h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="sws1" class="card-img-top" alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">SHRUTI C
          </p>
          <a href="../../../../assets/electionspdf/pdf21/Shruti.pdf" download="Shruti"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>General Secretary - I</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1" style="justify-content: center">
    <div class="col">
      <div class="card card-pink h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="gnI1" class="card-img-top" alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">ANISH KUMAR PURBEY
          </p>
          <a href="../../../../assets/electionspdf/pdf21/ANISH.pdf" download="anish"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>General Secretary - II</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1" style="justify-content: center">
    <div class="col">
      <div class="card card-blue h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="gnII1" class="card-img-top"
            alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">MUNNA UMA
          </p>
          <a href="../../../../assets/electionspdf/pdf21/MUNNA.pdf" download="MUNNA"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>Academic Affairs Secretary</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1" style="justify-content: center">
    <div class="col">
      <div class="card card-pink h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="aas1" class="card-img-top"
            alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">ANURAAG CHANDRA SHUKLA</p>
          <a href="../../../../assets/electionspdf/pdf21/ANURAAG.pdf" download="AnuraagShukla"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-blue h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="aas2" class="card-img-top" alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">HIRANSH GUPTA
          </p>
          <a href="../../../../assets/electionspdf/pdf21/HIRANSH.pdf" download="HiranshGupta_AcadSecy"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>Cultural Secretary</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1" style="justify-content: center">
    <div class="col">
      <div class="card card-pink h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="cults1"
            class="card-img-top" alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">ROHIT DHONDGE
          </p>
          <a href="../../../../assets/electionspdf/pdf21/ROHIT.pdf" download="Rohit_Dhondge-cultural"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>Sports Secretary</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1" style="justify-content: center">
    <div class="col">
      <div class="card card-blue h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="sports1" class="card-img-top"
            alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">AVANEESH SINGH
          </p>
          <a href="../../../../assets/electionspdf/pdf21/Aakash-President.pdf" download="Avaneesh_SportsSecretary"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-pink h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="sports1" class="card-img-top"
            alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">MENDU ABHISHEK
          </p>
          <a href="../../../../assets/electionspdf/pdf21/ABHISHEK.pdf" download="Mendu"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>Sci-Tech Secretary</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1" style="justify-content: center">
    <div class="col">
      <div class="card card-blue h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="sci1"
            class="card-img-top" alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">MANE SUNNY SHANKAR
          </p>
          <a href="../../../../assets/electionspdf/pdf21/MANE.pdf" download="Mane-Science"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>Mess Secretary</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1" style="justify-content: center">
    <div class="col">
      <div class="card card-pink h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="mess1" class="card-img-top"
            alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">Srinivas Kalyan
          </p>
          <a href="../../../../assets/electionspdf/pdf21/Srinivas.pdf" download="Srinivas_Mess"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>UG Representative - I</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1" style="justify-content: center">
    <div class="col">
      <div class="card card-blue h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="ugrepI1" class="card-img-top" alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">DEVASOORYA R
          </p>
          <a href="../../../../assets/electionspdf/pdf21/Devasoorya.pdf" download="Devasoorya"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>UG Representative - II</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1" style="justify-content: center">
    <div class="col">
      <div class="card card-pink h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="ugrepII1"class="card-img-top" alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">DHEEKSHITHA BHEEMANATH
          </p>
          <a href="../../../../assets/electionspdf/pdf21/Dheekshitha-UG2.pdf" download="Dheekshitha-UG2"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-blue h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="ugrepII1"
            class="card-img-top" alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">VAISHNAVI K
          </p>
          <a href="../../../../assets/electionspdf/pdf21/Vaishnavi.pdf" download="Vaishnavi"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>PG Representative - I</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1" style="justify-content: center">
    <div class="col">
      <div class="card card-pink h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="pgrepI1" class="card-img-top"
            alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">Rajesh S
          </p>
          <a href="../../../../assets/electionspdf/pdf21/Rajesh.pdf" download="Rajesh"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-blue h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="pgrepI1" class="card-img-top" alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">Manmohan Mitruka
          </p>
          <a href="../../../../assets/electionspdf/pdf21/Manmohan.pdf" download="Manmohan_PG"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <h4>Doctoral Representative - I</h4>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1" style="justify-content: center">
    <div class="col">
      <div class="card card-pink h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="docrepI1" class="card-img-top" alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">Akarsh Bajpai
          </p>
          <a href="../../../../assets/electionspdf/pdf21/Akarsh.pdf" download="Akarsh"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-blue h-70 overflow-hidden shadow bg-white border-0 px-0">
        <div class="card-shape">
          <img [lazyLoad]="docrepI1" class="card-img-top" alt="Dave" />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">Srinadh Reddy Bhavanam
          </p>
          <a href="../../../../assets/electionspdf/pdf21/Srinadh.pdf" download="Srinadh"><span
              class="text-muted">Manifesto</span></a>
        </div>
      </div>
    </div>
  </div>
</div>