@import "helpers/colors";
 .wrapper {
    width: 100vw;
    margin: 0 auto;
    height: 400px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
 }
 
 @media screen and (max-width: 767px) {
    .wrapper {
       height: 700px;
    }
 }
 
 .content {
    max-width: 1024px;
    width: 100%;
    padding: 1 4%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 @media screen and (max-width: 767px) {
    .content {
       padding-top: 300px;
       flex-direction: column;
    }
 }
 
 .card {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;   
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
 }
 
 .icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width:80px;
    background: linear-gradient(90deg, #FF7E7E 0%, #FF4848 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
 }
 
 .material-icons.md-18 { font-size: 18px; }
 .material-icons.md-24 { font-size: 24px; }
 .material-icons.md-36 { font-size: 36px; }
 .material-icons.md-48 { font-size: 48px; }
 
 .card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
 }
 
 .card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height:0;
    transition: all 0.3s ease;
 }
 
 .card:hover {
    height: 270px;
 }
 
 .card:hover .info {
    height: 90%;
 }
 
 .card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height:40px;
 }
 
 .card:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
 }
 
 .card:hover .icon i {
    background: linear-gradient(90deg, #FF7E7E, #FF4848);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: all 0.3s ease;
 }
 label, a{
   cursor: pointer;
   user-select: none;
   text-decoration: none;
   display: inline-block;
   color: inherit;
   transition: border 0.2s;
   border-bottom: 5px solid rgba(#8e44ad, 0.2);
   padding: 3px 2px;
   &:hover{
     border-bottom-color: #9b59b6;
   }
 }
 
 .layout{
   display: grid;
   height: 100%;
   width: 100%;
   overflow: hidden;
   grid-template-rows: 50px 1fr;
   grid-template-columns: 1fr 1fr 1fr;
 }
 
 input[type="radio"]{
   display: none;
 }
 
 label.nav{
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border-bottom: 2px solid #8e44ad;
   background: #ecf0f1;
   user-select: none;
   transition: background 0.4s, padding-left 0.2s;
   padding-left: 0;
   input[type="radio"]:checked + .page + &{
     background: #9b59b6;
     color: #ffffff;
     padding-left: 20px;
     span{
       padding-left: 20px  
     }
     svg{
       opacity: 1;
     }
   }
   span{
     padding-left: 0px;
     position: relative;
   }
   svg{
     left: 0;
     top: -3px;
     position: absolute;
     width: 15px;
     opacity: 0;
     transition: opacity 0.2s;
   }
 }
 
 .page{
   grid-column-start: 1;
   grid-row-start: 2;
   grid-column-end: span 3;
   padding: 0px 20px;
   display: flex;
   align-items: center;
 }
 
 .page-contents > *{
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 0.2s, transform 0.2s;
   @for $c from 1 through 20{
     &:nth-child(#{$c}){
       transition-delay: 0.2s + ($c * 0.2s);
     }
   }
 }
 
 input[type="radio"] + .page{
   transition: transform 0.2s;
   transform: translateX(100%);
 }
 
 input[type="radio"]:checked + .page{
   transform: translateX(0%);
   .page-contents > *{
     opacity: 1;
     transform: translateY(0px);
   }
 }
 
 .page-contents{
   max-width: 100%;
   width: 500px;
   margin: 0 auto;
 }