<section id="Transport" class="pricing-section pt-130">
  <div class="container">
    <div class="section-title mb-60">
      <h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s">Transport Section</h1>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="icon"><i class="fas fa-taxi fa-2x"></i></div>
            <p class="title">Cab Sharing</p>
            <a href="https://www.google.co.in/search?q=cab+sharing+iith" class="text">
              Click to see Cab Sharing Sheet
            </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="icon"><i class="fas fa-bus-alt fa-2x"></i></div>
          <p class="title">Transport Schedules</p>
          <a class="text" href="https://docs.google.com/spreadsheets/d/1mLrLAf6Z0Z4G2AsAzrK7TXJ_DZAPXb_3n6V_jKTx1wc/edit?usp=drivesdk">Check all the Transport Schedules.</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="icon"><i class="fas fa-user-tie fa-2x"></i></div>
          <p class="title">Grievance Form</p>
          <a class="text" href="https://docs.google.com/forms/d/e/1FAIpQLSdW4jUr-B6J_PoKAnY2YZ8PjG23xAsLlWFyrbQPyxPhspzm6g/viewform">Click to fill Grievance Form</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="calender" class="pricing-section pt-130">
  <div class="container">
    <div class="section-title mb-60">
      <h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s">Calender Section</h1>
    </div>

    <div class="row">
      <div class="col">
        <div class="mb-30">
          <h3 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
            Student Activities Calendar
          </h3>
        </div>
        <iframe
          src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FKolkata&amp;src=c3R1ZGd5bUBpaXRoLmFjLmlu&amp;src=c2NpdGVjaF9zZWN5QGd5bWtoYW5hLmlpdGguYWMuaW4&amp;src=aWl0aC5hYy5pbl8xZWg1dmUxb2tlZ3MzOXBrdGUyNm5qZ3Flb0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;src=Y3VsdF9zZWN5QGd5bWtoYW5hLmlpdGguYWMuaW4&amp;src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23D50000&amp;color=%234285F4&amp;color=%233F51B5&amp;color=%23F6BF26&amp;color=%23009688"
          style="border-width: 0"
          width="100%"
          height="500"
          frameborder="0"
          scrolling="no"
        ></iframe>
      </div>
      <div class="col">
        <div class="mb-30">
          <h3 class="mb-25 wow fadeInUp" data-wow-delay=".2s">
            Academic Calendar
          </h3>
        </div>
        <iframe
          src="https://calendar.google.com/calendar/embed?src=c_ll73em8s81nhu8nbjvggqhmbgc%40group.calendar.google.com&ctz=Asia%2FKolkata"
          style="border: 0"
          width="100%"
          height="500"
          frameborder="0"
          scrolling="no"
        ></iframe>
      </div>
    </div>
  </div>
</section>
<section id="Transport" class="pricing-section pt-130">
  <div class="container">
    <div class="section-title mb-60">
      <h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s">Election IITH</h1>
      <p><b>Welcome to Elections of 2021</b></p>
    </div>
    <div class="row">
      
    </div>
  </div>
</section>
