@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  //   background: linear-gradient(rgb(84, 46, 109), rgb(20, 1, 26));
  background-color: black;
  // background-image: url("../../../assets/images/background/endless-constellation.svg");
  min-height: 100vh;

  font-family: "Poppins";
}

button{
  font-size: x-large;
  font-weight: 700;
  margin-left: 2em;
  margin-right: 2em;
}
.nav-pills .nav-link {
  color: #ffffff;
}
.nav-pills .nav-link.active {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}
