<body>
  <h2 class="text-center text-white pt-150 fontIT">Office Bearers 2021-22</h2>
  <section id="row1" class="about-section pt-30">
    <!------------------------------ president card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/President.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            2
            <h3>
              Arun Sakthi Anand <br /><span>President</span><br /><span
                style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 9843965600</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ GenSec1 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/gensec1.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              Vaibhav<br />
              Gupta <br /><span>General Secretary 1</span><br /><span
                style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 7357466555</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ GenSec2 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/gensec2.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              PRANJAL NARENDRA DESALE <br /><span>General Secretary 2</span
              ><br /><span style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 9307534849</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ Welfare card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/welfare.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              ANUSHKA KHARE <br /><span>Student Welfare Secretary</span
              ><br /><span style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 9617915183</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ Media card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/media.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              TISHA RAJEEV PANTAWANE <br /><span
                >Media and Public relations Head</span
              ><br /><span style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 8999428103</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ Acad card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/Acad.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              LIKHITH KUMAR <br /><span>Academic Affairs Secretary</span
              ><br /><span style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 8919174545</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ Scitech card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/sci.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              RAHUL S <br /><span>Science and Technology Secretary</span
              ><br /><span style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 8197962037</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ Culti card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/cultural.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              G. SHREE VARSHA <br /><span>Cultural and Literary Secretary</span
              ><br /><span style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 9543037637</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ Sports card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/sport.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              D.PAVAN KUMAR <br /><span>Sports Secretary</span><br /><span
                style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 9346247108</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ Ug1 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/ug1.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              BRIJESH<br />
              AGHAV <br /><span>Undergraduate Representative 1</span><br /><span
                style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 8698488688</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ UG2 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/ug2.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              LIKHITA.S <br /><span>Undergraduate Representative 2</span
              ><br /><span style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 8328596047</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ PG1 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/pg1.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              HARSHA VARDHAN PALLAM <br /><span
                >Postgraduate Representative 1</span
              ><br /><span style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 9959547230</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ PG2 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/pg2.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              IPSITA<br />
              JOSHI <br /><span>Postgraduate Representative 2</span><br /><span
                style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 7356899305</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ PhD1 card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/phd.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              VINOD<br />
              SHARMA <br /><span>Doctoral representative</span><br /><span
                style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 8985102141</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ mess card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/mess.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              GAYALA<br />
              MANOJ <br /><span>Mess Secretary</span><br /><span
                style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 6305560906</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ elan card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/elan.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              KRATI <br />ARELA <br /><span
                >Elan & nVision Overall Coordinator</span
              ><br /><span style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 6265534713</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!------------------------------ transport card -------------------->
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="image-box">
            <img
              src="../../../assets/images/office-bearers/2021-22/transporthead.webp"
              alt=""
            />
          </div>
          <div class="content-box">
            <h3>
              SANTOSH DHALADHULI <br /><span>Transport Head</span><br /><span
                style="color: rgb(235 177 233)"
                ><i class="fas fa-phone-alt"></i> 9392706729</span
              >
            </h3>
          </div>
        </div>
        <ul class="social">
          <li style="--i: 1">
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li style="--i: 2">
            <a href="#"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</body>
