<div class="container py-5">
  <div class="row text-center">
    <div class="col-lg-12">
      <h1>Meet our team</h1>
      <p
        class="lead font-weight-normal mt-4"
        style="color: #111827; margin-bottom: 3.5em"
      >
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
        fermentum risus id tortor. Donec ipsum massa, ullamcorper in, auctor et,
        scelerisque sed, est. Etiam sapien elit, consequat eget, tristique non,
        venenatis quis, ante?
      </p>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4" style="justify-content: center">
    <div class="col">
      <div
        class="card card-blue h-70 overflow-hidden shadow bg-white border-0 px-0"
      >
        <div class="card-shape">
          <img
            src="https://images.pexels.com/photos/775358/pexels-photo-775358.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="card-img-top"
            alt="Thomas"
          />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">Thomas</p>
          <small class="text-muted"> Software Architect</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-pink h-70 overflow-hidden shadow bg-white border-0 px-0"
      >
        <div class="card-shape">
          <img
            src="https://images.pexels.com/photos/2787341/pexels-photo-2787341.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="card-img-top"
            alt="Jasmine"
          />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">Jasmine</p>
          <small class="text-muted">Lead Front-End Designer</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
    <div class="col">
      <div
        class="card card-blue h-70 overflow-hidden shadow bg-white border-0 px-0"
      >
        <div class="card-shape">
          <img
            src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="card-img-top"
            alt="Dave"
          />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">Dave</p>
          <small class="text-muted">Chief Operating Officer, Partner</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-pink h-70 overflow-hidden shadow bg-white border-0 px-0"
      >
        <div class="card-shape">
          <img
            src="https://images.pexels.com/photos/3671083/pexels-photo-3671083.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="card-img-top"
            alt="Michele"
          />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">Michele</p>
          <small class="text-muted">
            Senior Front-End Designer & Developer</small
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card card-blue h-70 overflow-hidden shadow bg-white border-0 px-0"
      >
        <div class="card-shape">
          <img
            src="https://images.pexels.com/photos/3748221/pexels-photo-3748221.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="card-img-top"
            alt="Larry"
          />
        </div>
        <div class="card-footer">
          <p class="mb-0 font-weight-bolder">Larry</p>
          <small class="text-muted">Lead Developer</small>
        </div>
      </div>
    </div>
  </div>
</div>
