@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body{
      min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f2f2f2;
}
h1{
  color: #1c68b3 ;
  font-size:clamp(2.5rem, 10vw, 5rem);
  font-family: 'Parisienne', cursive;
}
.card-pink{
border-radius: 6px; 
  border-bottom:4px solid #ff2c95!important;
}
.card-blue{
border-radius: 6px; 
  border-bottom:4px solid #1c68b3 !important;
}

.col .card img{
aspect-ratio: 1 / 1;
  object-fit:cover;
}
.card-body{
  padding:1rem 1.5rem;
}
.card-body p{
  color:#4B5563;
}
.card-blue svg{
  fill:#1c68b3 ;
}
.card-pink svg{
  fill:#ff2c95;
}
.card-blue .card-footer p{
  color:#1c68b3 ;
}
.card-pink .card-footer p{
  color: #ff2c95;
}
.card-shape{
  position:relative;
}
.custom-shape-divider-bottom-1634717805 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1634717805 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
}

.custom-shape-divider-bottom-1634717805 .shape-fill {
    fill: #FFFFFF;
}