@import "helpers/colors";
:host {
  font-size: 0.9rem;
  font-weight: 500;
  color: #828485;
  .copyright,
  .footer-links {
    a {
      text-decoration: none;
      color: #828485;
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: '|';
  }
  .landing-footer {
    border-top: 2px solid lighten($annoor-grey, 50%);
    background-color: #fff;
    height: 40px;
    font-size: .8rem;
    line-height: 15px;
    .footer-logo {
      background-color: $annoor-blue;
      a {
        height: 35px;
        width: 40px;
        background-image: url('/assets/logos/annoor_logo.png');
        display: inline-block;
        background-size: 100%;
        background-position: 0px 8px;
        background-repeat: no-repeat;
      }
    }
  }
}
