<div class="container">
    <div class="row pb-2" >
      <div class="col copyright">
        ©2021 Copyright Annoor Foundation School.
        <br />
        Reproduction or republication strictly prohibited without prior written
        permission.
      </div>
      <div class="col footer-links">
        <nav class="float-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">
                Privacy Policy
              </a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">
                Terms of Use
              </a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">
                Annoor Foundation School
              </a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>