<s>
    <div class="promo" style="--overlay-color: hotpink" (click)="go_to_page('general-council')">
      <div class="image-wrapper"><img src="../../../assets/images/councils/general.JPG" /></div>
      <h2 class="title" data-cta="The first responders →">General</h2>
  </div>
  <div class="promo" style="--overlay-color: yellow" (click)="goToLink('https://scitech-iith.netlify.app/')">
      <div class="image-wrapper"><img src="../../../assets/images/councils/sci-tech.jpg" /></div>
      <h2 class="title" data-cta="Geeky Enough? →">Sci-Tech</h2>
  </div>
  <div class="promo" style="--overlay-color: dodgerblue">
      <div class="image-wrapper"><img src="../../../assets/images/councils/culti.jpg" /></div>
      <h2 class="title" data-cta="Explore the artist within →">Cultural</h2>
  </div>
  <div class="promo" style="--overlay-color: darkgreen">
      <div class="image-wrapper"><img src="../../../assets/images/councils/sports.JPG" /></div>
      <h2 class="title" data-cta="Chakde! →">Sports</h2>
  </div>
  <div class="promo" style="--overlay-color: hotpink" (click)="go_to_page('media-council')">
    <div class="image-wrapper"><img src="../../../assets/images/councils/media.jpg" /></div>
    <h2 class="title" data-cta="Content, content, content →">Media</h2>
  </div>
  <div class="promo" style="--overlay-color: yellow"(click)="go_to_page('mess-council')">
    <div class="image-wrapper"><img src="../../../assets/images/councils/mess.jpg" /></div>
    <h2 class="title" data-cta="Where's the salad? →">Mess</h2>
  </div>
  <div class="promo" style="--overlay-color: dodgerblue" (click)="go_to_page('academic-council')">
    <div class="image-wrapper"><img src="../../../assets/images/councils/academic.jpg" /></div>
    <h2 class="title" data-cta="Last but not the least →">Academic</h2>
  </div>
  </s>