@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

s {
  margin: 0;
  padding: 0;
  
  color: #FFFFFF;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  
}

 
s header {
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  display: block;
  width: 100%;
  height: 48px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 90;
}
s header .header-inner {
  padding: 12px 1.5%;
}
 
s header .header-inner .logo {
  position: relative;
  display: inline;
  width: auto;
  height: auto;
  float: left;
}
s header .header-inner .logo a {
  position: relative;
  display: inline;
  width: auto;
  height: auto;
  color: #FFFFFF;
  outline: 0px none;
  outline: 0px;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  text-transform: uppercase;
}
s header .header-inner .logo a:hover {
  color: rgba(255, 255, 255, 0.45);
}
s header .header-inner .logo a span {
  font-weight: 700;
}
s header .header-inner nav {
  position: relative;
  display: inline;
  margin: 0;
  padding: 0;
  list-type-style: none;
  float: right;
}
s header .header-inner nav li {
  position: relative;
  display: inline;
  margin-left: 16px;
}

s header .header-inner nav li a {
 font-family: 'Oswald', sans-serif;
  position: relative;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 24px;
  transition: all 0.35s ease-in-out;
}

s header .header-inner nav li a span {
  position: relative;
  z-index: 2;
}
s header .header-inner nav li a:hover {
  color: rgba(255, 255, 255, 0.45);
}
s section.slideshow {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  height: 100vh;
  margin: 0 auto;
  visibility: hidden;
  overflow: hidden;
}
s section.slideshow ul.navigation {
  position: absolute;
  display: block;
  width: 640px;
  height: 640px;
  padding: 0;
  margin: 0;
  left: -230px;
  top: 50%;
  margin-top: -320px;
  z-index: 10;
}

s section.slideshow ul.navigation li.navigation-item {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 120px;
  height: 120px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  transition: border 0.6s ease-in-out;
}

s section.slideshow ul.navigation li.navigation-item .rotate-holder {
  position: fixed;
  display: block;
  width: 0;
  height: 0;
  left: -9999px;
  top: -9999px;
}
s section.slideshow ul.navigation li.navigation-item .background-holder {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;    
  background-size: cover;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}
s section.slideshow ul.navigation li.navigation-item:hover .background-holder {
  opacity: 0.75;
}
s section.slideshow ul.navigation li.navigation-item.active .background-holder {
  opacity: 0;
  visibility: hidden;
}
s section.slideshow .detail {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
}
s section.slideshow .detail .detail-item {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
s section.slideshow .detail .detail-item .headline {
  position: absolute;
  display: block;
  width: 100%;
  max-width: calc(100% - 480px);
  height: 126px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
  white-space: nowrap;
  box-sizing: border-box;
  z-index: 2;
}
.headline{
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  font-size: 132px;
  line-height: 110px;
  font-weight: 900;
  font-kerning: none;
}
s section.slideshow .detail .detail-item .headline .letter {
  font-family: 'Oswald', sans-serif;
  position: relative;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  color: #FFFFFF;
  font-size: 132px;
  line-height: 110px;
  font-weight: 900;
  font-kerning: none;
  white-space: nowrap;
  box-sizing: border-box;
    text-transform: uppercase;
}

s section.slideshow .detail .detail-item .background {
  position: absolute;
  display: block;
  width: 100%;
  width: calc(100% + 100px);
  height: 100%;
  height: calc(100% + 100px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center center;     
  background-size: cover;
  z-index: 1;
}
s section.slideshow .detail .detail-item .background::before {
  content: ""; 
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 90%);   
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
    
}
s section.slideshow .detail .detail-item.active {
  opacity: 1;
  visibility: visible;
}
    