<s>  
  <section id="councils" class="slideshow">

    <ul class="navigation">
      <!-- Mess Council -->
      <li class="navigation-item active">
        <span class="rotate-holder"></span>
        <span class="background-holder" style="background-image: url(../../../assets/images/councils/mess.avif);"></span>
      </li>
      <!-- slideshow:navigation:item END -->

      <!-- slideshow:navigation:item START -->
      <!-- Sci-tech Council -->
      <li class="navigation-item">
        <span class="rotate-holder"></span>
        <span class="background-holder" style="background-image: url(../../../assets/images/councils/Scitech.avif);"></span>
      </li>
      <!-- Sports Council -->
      <li class="navigation-item">
        <span class="rotate-holder"></span>
        <span class="background-holder" style="background-image: url(../../../assets/images/councils/sports.avif);"></span>
      </li>
      <!-- Cultural Council -->
      <li class="navigation-item">
        <span class="rotate-holder"></span>
        <span class="background-holder" style="background-image: url(../../../assets/images/councils/cultural.avif);"></span>
      </li>
      <!-- Media Council -->
      <li class="navigation-item">
        <span class="rotate-holder"></span>
        <span class="background-holder" style="background-image: url(../../../assets/images/councils/media.avif);"></span>
      </li>
      <!-- Academic Council -->
      <li class="navigation-item">
        <span class="rotate-holder"></span>
        <span class="background-holder" style="background-image: url(../../../assets/images/councils/academic.webp);"></span>
      </li>
      <!-- General Council -->
      <li class="navigation-item">
        <span class="rotate-holder"></span>
        <span class="background-holder" style="background-image: url(../../../assets/images/councils/general.avif);"></span>
      </li>      

    </ul>
    
    <div class="detail">
      <!-- Mess Council -->
      <div class="detail-item active">
        <a routerLink="/mess-council"><div class="headline" routerLink="/mess-council">Mess</div></a>
        <div class="background" style="background-image: url(../../../assets/images/councils/mess.avif); height: 100vh;"></div>
        <div class="background" style="background-image: url(../../../assets/images/councils/mess.avif); height: 100vh; background-size: cover; background-position: center;"></div>
      </div>
      <!-- slideshow:details END -->
      
      <!-- slideshow:details START -->
      <!-- Sci-tech Council -->
      <div class="detail-item">
        <a href="https://scitech-iith.netlify.app/"><div class="headline">SciTech</div></a>
        <div class="background" style="background-image: url(../../../assets/images/councils/Scitech.avif);"></div>
      </div>
      <!-- slideshow:details END -->
      
      <!-- slideshow:details START -->
      <!-- Sports Council -->
      <div class="detail-item">
        <a href="https://sports.iith.ac.in/"><div class="headline">Sports</div></a>
        <div class="background" style="background-image: url(../../../assets/images/councils/sports.avif);"></div>
      </div>
      <!-- slideshow:details END -->
      
      <!-- slideshow:details START -->
      <!-- Cultural Council -->
      <div class="detail-item">
        <a href="https://culti-iith.netlify.app/"><div class="headline">Cultural</div></a>
        <div class="background" style="background-image: url(../../../assets/images/councils/cultural.avif);"></div>
      </div>
      <!-- slideshow:details END -->
      
      <!-- slideshow:details START -->
      <!-- Media Council -->
      <div class="detail-item">
        <a routerLink="/media-council"><div class="headline">Media</div></a>
        <div class="background" style="background-image: url(../../../assets/images/councils/media.avif);"></div>
      </div>
      <!-- slideshow:details END -->
      
      <!-- slideshow:details START -->
      <!-- Academic Council -->
      <div class="detail-item">
        <a routerLink="/academic-council"><div class="headline">Academic</div></a>
        <div class="background" style="background-image: url(../../../assets/images/councils/academic.webp);"></div> 
      </div>
      <!-- slideshow:details END -->
      
      <!-- slideshow:details START -->
      <!-- General Council -->
      <div class="detail-item">
        <a routerLink="/general-council"><div class="headline">General</div></a>
        <div class="background" style="background-image: url(../../../assets/images/councils/general.avif);"></div>
      </div>
      <!-- slideshow:details END -->
      
    </div>
    <!-- slideshow:details END -->

  </section>
  <!-- slideshow END -->

  

</s>