<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col col-sm col-lg-5 member shadow p-3 mb-3 rounded">
        <h4 class="h4">Firstname Lastname</h4>
        <h5>department</h5>
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
              <span>
                <a type="button" class="btn btn-secondary" href="mailto:"
                  ><i class="fas fa-envelope"></i></a
                >ma20btech11001@iith.ac.in
              </span>
              <span>
                <a class="btn btn-secondary" href="tel:"
                  ><i class="fas fa-phone"></i></a
                >1234567890
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm col-lg-5 member shadow p-3 mb-3 rounded">
        <h4 class="h4">Firstname Lastname</h4>
        <h5>department</h5>
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
              <span>
                <a type="button" class="btn btn-secondary" href="mailto:"
                  ><i class="fas fa-envelope"></i></a
                >ma20btech11001@iith.ac.in
              </span>
              <span>
                <a class="btn btn-secondary" href="tel:"
                  ><i class="fas fa-phone"></i></a
                >1234567890
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm col-lg-5 member shadow p-3 mb-3 rounded">
        <h4 class="h4">Firstname Lastname</h4>
        <h5>department</h5>
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
              <span>
                <a type="button" class="btn btn-secondary" href="mailto:"
                  ><i class="fas fa-envelope"></i></a
                >ma20btech11001@iith.ac.in
              </span>
              <span>
                <a class="btn btn-secondary" href="tel:"
                  ><i class="fas fa-phone"></i></a
                >1234567890
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm col-lg-5 member shadow p-3 mb-3 rounded">
        <h4 class="h4">Firstname Lastname</h4>
        <h5>department</h5>
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
              <span>
                <a type="button" class="btn btn-secondary" href="mailto:"
                  ><i class="fas fa-envelope"></i></a
                >ma20btech11001@iith.ac.in
              </span>
              <span>
                <a class="btn btn-secondary" href="tel:"
                  ><i class="fas fa-phone"></i></a
                >1234567890
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm col-lg-5 member shadow p-3 mb-3 rounded">
        <h4 class="h4">Firstname Lastname</h4>
        <h5>department</h5>
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
              <span>
                <a type="button" class="btn btn-secondary" href="mailto:"
                  ><i class="fas fa-envelope"></i></a
                >ma20btech11001@iith.ac.in
              </span>
              <span>
                <a class="btn btn-secondary" href="tel:"
                  ><i class="fas fa-phone"></i></a
                >1234567890
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm col-lg-5 member shadow p-3 mb-3 rounded">
        <h4 class="h4">Firstname Lastname</h4>
        <h5>department</h5>
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
              <span>
                <a type="button" class="btn btn-secondary" href="mailto:"
                  ><i class="fas fa-envelope"></i></a
                >ma20btech11001@iith.ac.in
              </span>
              <span>
                <a class="btn btn-secondary" href="tel:"
                  ><i class="fas fa-phone"></i></a
                >1234567890
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm col-lg-5 member shadow p-3 mb-3 rounded">
        <h4 class="h4">Firstname Lastname</h4>
        <h5>department</h5>
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
              <span>
                <a type="button" class="btn btn-secondary" href="mailto:"
                  ><i class="fas fa-envelope"></i></a
                >ma20btech11001@iith.ac.in
              </span>
              <span>
                <a class="btn btn-secondary" href="tel:"
                  ><i class="fas fa-phone"></i></a
                >1234567890
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-sm col-lg-5 member shadow p-3 mb-3 rounded">
        <h4 class="h4">Firstname Lastname</h4>
        <h5>department</h5>
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
              <span>
                <a type="button" class="btn btn-secondary" href="mailto:"
                  ><i class="fas fa-envelope"></i></a
                >ma20btech11001@iith.ac.in
              </span>
              <span>
                <a class="btn btn-secondary" href="tel:"
                  ><i class="fas fa-phone"></i></a
                >1234567890
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
