<div class="container-fluid">
    <div class="row mt-4">
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="../../../assets/images/gallery_avif/Copy of 003.avif"class="fancybox" data-fancybox="gallery1">
          <img src="../../../assets/images/gallery_avif/Copy of 003.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="../../../assets/images/gallery_avif/Copy of 004 (1).avif"class="fancybox" data-fancybox="gallery1">
          <img src="../../../assets/images/gallery_avif/Copy of 004 (1).avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="../../../assets/images/gallery_avif/Copy of 02.avif"class="fancybox" data-fancybox="gallery1">
          <img src="../../../assets/images/gallery_avif/Copy of 02.avif" width="100%" height="100%" alt="">
        </a>
     </div>
     <div class="item col-sm-6 col-md-4 mb-3">
        <a href="../../../assets/images/gallery_avif/Copy of 20210414_075006-02 - Ganapathi Patil.avif"class="fancybox" data-fancybox="gallery1">
          <img src="../../../assets/images/gallery_avif/Copy of 20210414_075006-02 - Ganapathi Patil.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="../../../assets/images/gallery_avif/Copy of 20210725071019_IMG_9017 - Ritesh Goutam.avif"class="fancybox" data-fancybox="gallery1">
          <img src="../../../assets/images/gallery_avif/Copy of 20210725071019_IMG_9017 - Ritesh Goutam.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="../../../assets/images/gallery_avif/Copy of 20210801_174732 (3) - ARCHANA YADAV.avif"class="fancybox" data-fancybox="gallery1">
          <img src="../../../assets/images/gallery_avif/Copy of 20210801_174732 (3) - ARCHANA YADAV.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="../../../assets/images/gallery_avif/Copy of 25831993366_67bb7ae287_o (1).avif"class="fancybox" data-fancybox="gallery1">
          <img src="../../../assets/images/gallery_avif/Copy of 25831993366_67bb7ae287_o (1).avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="../../../assets/images/gallery_avif/Copy of _DSC0044.avif"class="fancybox" data-fancybox="gallery1">
          <img src="../../../assets/images/gallery_avif/Copy of _DSC0044.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="../../../assets/images/gallery_avif/Copy of _DSC1524.avif"class="fancybox" data-fancybox="gallery1">
          <img src="../../../assets/images/gallery_avif/Copy of _DSC1524.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="../../../assets/images/gallery_avif/Copy of _DSC1617.avif"class="fancybox" data-fancybox="gallery1">
          <img src="../../../assets/images/gallery_avif/Copy of _DSC1617.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="../../../assets/images/gallery_avif/Copy of _K7A4457.avif"class="fancybox" data-fancybox="gallery1">
          <img src="../../../assets/images/gallery_avif/Copy of _K7A4457.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="../../../assets/images/gallery_avif/Copy of _K7A4656.avif"class="fancybox" data-fancybox="gallery1">
          <img src="../../../assets/images/gallery_avif/Copy of _K7A4656.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <!-- <div class="item col-sm-6 col-md-4 mb-3">
        <a href="/assets/images/gallery_avif/Copy of _K7A4672.avif"class="fancybox" data-fancybox="gallery1">
          <img src="/assets/images/gallery_avif/Copy of _K7A4672.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="/assets/images/gallery_avif/Copy of _K7A5522.avif"class="fancybox" data-fancybox="gallery1">
          <img src="/assets/images/gallery_avif/Copy of _K7A5522.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="/assets/images/gallery_avif/Copy of _MG_4391.avif"class="fancybox" data-fancybox="gallery1">
          <img src="/assets/images/gallery_avif/Copy of _MG_4391.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="/assets/images/gallery_avif/Copy of _MG_8493.avif"class="fancybox" data-fancybox="gallery1">
          <img src="/assets/images/gallery_avif/Copy of _MG_8493.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="/assets/images/gallery_avif/Copy of _MG_8560.avif"class="fancybox" data-fancybox="gallery1">
          <img src="/assets/images/gallery_avif/Copy of _MG_8560.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="/assets/images/gallery_avif/Copy of _MG_8772.avif"class="fancybox" data-fancybox="gallery1">
          <img src="/assets/images/gallery_avif/Copy of _MG_8772.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="/assets/images/gallery_avif/Copy of _MG_8955.avif"class="fancybox" data-fancybox="gallery1">
          <img src="/assets/images/gallery_avif/Copy of _MG_8955.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="/assets/images/gallery_avif/Copy of _MG_9210.avif"class="fancybox" data-fancybox="gallery1">
          <img src="/assets/images/gallery_avif/Copy of _MG_9210.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="/assets/images/gallery_avif/Copy of A3.avif"class="fancybox" data-fancybox="gallery1">
          <img src="/assets/images/gallery_avif/Copy of A3.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="/assets/images/gallery_avif/Copy of B1.avif"class="fancybox" data-fancybox="gallery1">
          <img src="/assets/images/gallery_avif/Copy of B1.avif" width="100%" height="100%" alt="">
        </a>
      </div>
      <div class="item col-sm-6 col-md-4 mb-3">
        <a href="/assets/images/gallery_avif/Copy of B2.avif.avif"class="fancybox" data-fancybox="gallery1">
          <img src="/assets/images/gallery_avif/Copy of B2.avif.avif" width="100%" height="100%" alt="">
        </a>
      </div> -->
    </div>
  </div>