<body>
    <h2 class="text-center text-white pt-45 pb-45 fontIT">
      Office Bearers 2019-20
    </h2>
    <section id="row1" class="about-section pt-30">
      <!------------------------------ president card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2019-20/president.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              2
              <h3>
                DIVANSH <br />SINGLA <br /><span>President</span><br /><span
                  style="color: #adadad"
                  ><i class="fas fa-phone-alt"></i> 8562803251</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li>
              <a href="https://www.linkedin.com/in/divsingla17/"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ GenSec1 card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2019-20/gensec1.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                SANDI SANTOSH<br />
                REDDY Gupta <br /><span>General Secretary 1</span><br /><span
                  style="color: #adadad"
                  ><i class="fas fa-phone-alt"></i> 7095540955</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ GenSec2 card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2019-20/gensec2.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                SWETHA <br />
                GUMMALA <br /><span>General Secretary 2</span><br /><span
                  style="color: #adadad"
                  ><i class="fas fa-phone-alt"></i> 9618110220</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ Welfare card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2019-20/media.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                ROSHNI<br />
                PANDE <br /><span>Student Welfare Secretary</span><br /><span
                  style="color: #adadad"
                  ><i class="fas fa-phone-alt"></i> 9000515191</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="https://www.linkedin.com/in/roshni-pande-822a16151/"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
  
      <!------------------------------ Acad card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2019-20/acad.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                SRUJANA B <br /><span>Academic Affairs Secretary</span><br /><span
                  style="color: #adadad"
                  ><i class="fas fa-phone-alt"></i> 9110730506</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="https://www.linkedin.com/in/srujana-batchu-703409172/"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ Scitech card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2019-20/sci.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                RAKTIM GUTAM<br />
                GOSWAMI<br /><span>Science and Technology Secretary</span
                ><br /><span style="color: #adadad"
                  ><i class="fas fa-phone-alt"></i> 7002518607</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
  
      <!------------------------------ Sports card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2019-20/sport.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                KUNAL<br />
                SINGH <br /><span>Sports Secretary</span><br /><span
                  style="color: #adadad"
                  ><i class="fas fa-phone-alt"></i> 8112258306</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="https://www.linkedin.com/in/kunal-singh-990174159/"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ Ug1 card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2019-20/ug1.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                MANOHAR REDDY<br />
                BAPATU AGHAV <br /><span>Undergraduate Representative 1</span
                ><br /><span style="color: #adadad"
                  ><i class="fas fa-phone-alt"></i> 7382082375</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ UG2 card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2019-20/ug2.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                HEMA VARSHITHA <br />
                MUPPALLA <br /><span>Undergraduate Representative 2</span
                ><br /><span style="color: #adadad"
                  ><i class="fas fa-phone-alt"></i> 8096355327</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ PG1 card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2019-20/pg1.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                DIVYAM TAYAL<br /><span>Postgraduate Representative 1</span
                ><br /><span style="color: #adadad"
                  ><i class="fas fa-phone-alt"></i> 7503735044</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="https://www.linkedin.com/in/divyam-tayal-4210b1100/"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ PG2 card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2019-20/pg2.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                JESNA<br />
                FATHIMA <br /><span>Postgraduate Representative 2</span
                ><br /><span style="color: #adadad"
                  ><i class="fas fa-phone-alt"></i> 9446645769</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="https://www.linkedin.com/in/jesna-fathima-8b2937119/"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
  
      <!------------------------------ mess card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2019-20/mess.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                SONTHAM<br />GOVARDHAN REDDY <br /><span>Mess Secretary</span
                ><br /><span style="color: #adadad"
                  ><i class="fas fa-phone-alt"></i> 9121478214</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!------------------------------ elan card -------------------->
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="image-box">
              <img
                src="../../../assets/images/office-bearers/2019-20/elan.webp"
                alt=""
              />
            </div>
            <div class="content-box">
              <h3>
                SAHIL <br />KHOBRAGADE <br /><span>Elan Overall Coordinator</span
                ><br /><span style="color: #adadad"
                  ><i class="fas fa-phone-alt"></i> 9588450851</span
                >
              </h3>
            </div>
          </div>
          <ul class="social">
            <li style="--i: 1">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li style="--i: 2">
              <a href="#"><i class="fas fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
  