<section id="council" class="service-section widthit">
  <br />
  <br />
  <div class="container">
    <div>
      <div class="container mp" id="mess-coordinator">
        <div class="row">
          <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
            <div>
              <div class="card-body" style="padding-left: 0; margin-left: 0">
                <h6 class="card-title">Brighesh Aghav</h6>
                <h6 class="card-title">Department</h6>
                <i
                  class="fas fa-envelope mr-2"
                  style="color: rgba(0, 0, 0, 0.863)"
                ></i
                >ug_rep@gymkhana.iith.ac.in<br />
                <i
                  class="fas fa-phone mr-2"
                  style="color: rgba(0, 0, 0, 0.863)"
                ></i
                >8698488688
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
            <div>
              <div class="card-body" style="padding-left: 0; margin-left: 0">
                <h6 class="card-title">Likitha.S</h6>
                <h6 class="card-title">Department</h6>
                <i
                  class="fas fa-envelope mr-2"
                  style="color: rgba(0, 0, 0, 0.863)"
                ></i
                >ug_rep@gymkhana.iith.ac.in<br />
                <i
                  class="fas fa-phone mr-2"
                  style="color: rgba(0, 0, 0, 0.863)"
                ></i
                >8328596047
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
            <div>
              <div class="card-body" style="padding-left: 0; margin-left: 0">
                <h6 class="card-title">Brighesh Aghav</h6>
                <h6 class="card-title">Department</h6>
                <i
                  class="fas fa-envelope mr-2"
                  style="color: rgba(0, 0, 0, 0.863)"
                ></i
                >ug_rep@gymkhana.iith.ac.in<br />
                <i
                  class="fas fa-phone mr-2"
                  style="color: rgba(0, 0, 0, 0.863)"
                ></i
                >8698488688
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
            <div>
              <div class="card-body" style="padding-left: 0; margin-left: 0">
                <h6 class="card-title">Likitha.S</h6>
                <h6 class="card-title">Department</h6>
                <i
                  class="fas fa-envelope mr-2"
                  style="color: rgba(0, 0, 0, 0.863)"
                ></i
                >ug_rep@gymkhana.iith.ac.in<br />
                <i
                  class="fas fa-phone mr-2"
                  style="color: rgba(0, 0, 0, 0.863)"
                ></i
                >8328596047
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
            <div>
              <div class="card-body" style="padding-left: 0; margin-left: 0">
                <h6 class="card-title">Brighesh Aghav</h6>
                <h6 class="card-title">Department</h6>
                <i
                  class="fas fa-envelope mr-2"
                  style="color: rgba(0, 0, 0, 0.863)"
                ></i
                >ug_rep@gymkhana.iith.ac.in<br />
                <i
                  class="fas fa-phone mr-2"
                  style="color: rgba(0, 0, 0, 0.863)"
                ></i
                >8698488688
              </div>
            </div>
          </div>
          <div class="col-sm-6" style="padding-left: 0; margin-left: 0">
            <div>
              <div class="card-body" style="padding-left: 0; margin-left: 0">
                <h6 class="card-title">Likitha.S</h6>
                <h6 class="card-title">Department</h6>
                <i
                  class="fas fa-envelope mr-2"
                  style="color: rgba(0, 0, 0, 0.863)"
                ></i
                >ug_rep@gymkhana.iith.ac.in<br />
                <i
                  class="fas fa-phone mr-2"
                  style="color: rgba(0, 0, 0, 0.863)"
                ></i
                >8328596047
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
