<section id="phd" class="service-section widthit">
  <div class="container" *ngFor="let branch of phd_crs">
    <div>
      <div class="container mp" id="phdCRs">
        <div class="row">
          <div class="col-sm-6 ml-0 pl-0 mt-2">
            <h3>{{ branch[0].title }}</h3>
          </div>
        </div>
        <div class="row">
          <div
            class="col-sm-6"
            *ngFor="let person of branch"
            style="padding-left: 0; margin-left: 0"
          >
            <div>
              <div class="card-body" style="padding-left: 0; margin-left: 0">
                <h6 class="card-title">{{ person.name }}</h6>
                <a
                  href="mailto:{{ person.clgemail }}"
                  style="color: rgba(0, 0, 0, 0.863)"
                  ><i
                    class="fas fa-envelope mr-2"
                    style="color: rgba(0, 0, 0, 0.863)"
                  ></i
                  >{{ person.clgemail }}</a
                ><br />
                <i
                  class="fas fa-phone mr-2"
                  style="color: rgba(0, 0, 0, 0.863)"
                ></i
                >{{ person.mobile }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
