<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>SaaSLand - SaaS, WebApp and Software Landing Page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.svg"/> -->
    <!-- ========================= CSS here ========================= -->
    
  </head>
  <body>
    <!-- ========================= preloader start ========================= -->
    <div class="preloader">
      <div class="loader">
        <div class="ytp-spinner">
          <div class="ytp-spinner-container">
            <div class="ytp-spinner-rotator">
              <div class="ytp-spinner-left">
                <div class="ytp-spinner-circle"></div>
              </div>
              <div class="ytp-spinner-right">
                <div class="ytp-spinner-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- preloader end -->

    <!-- ========================= header start ========================= -->
    <header class="header">
      <div class="navbar-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" >
                  <img src="../../../assets/images/logo/logo-dark.png" alt="Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                  <ul id="nav" class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="page-scroll" href="#home">Home</a>
                    </li>
					<li class="nav-item">
						<a class="page-scroll" href="office.html">Office bearers</a>
					</li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#milan">Milan</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#archives">Archives</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#calender">Calender</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#transparency">Transparency</a>
                    </li>
                  </ul>
                </div>
                <!-- navbar collapse -->
              </nav>
              <!-- navbar -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- navbar area -->
    </header>
    <!-- ========================= header end ========================= -->

    <!-- ========================= hero-section start ========================= -->
    <section id="home" class="hero-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">
            <div class="hero-content">
              <h1 class="wow fadeInUp" data-wow-delay=".2s">STUDENT GYMKHANA <br> IIT Hyderabad</h1>
              <p class="wow fadeInUp" data-wow-delay=".4s">
                Student Body IIT Hyderabad
              </p>
               
            </div>
		</div>
        </div>
      </div>
    </section>
		<!-- ========================= hero-section end ========================= -->


		
		<!-- ========================= milan-section start ========================= -->
		<section id="milan" class="service-section pt-150">
			<div class="container">
				<div class="section-title">
					<h1 class="wow fadeInUp" data-wow-delay=".2s">Events at IITH</h1>
				</div>
				<div class="row align-items-center">
					<div class="col-lg-12 col-xl-6">
						<div class="row">
							<div class="col-xl-6 col-md-6">
								<div class="single-service">
									<div class="icon">
										<img src="../../../assets/images/about/1814093_calendar_events_schedule_icon.svg" alt="">
									</div>
									<div class="content">
										<h3>Milan</h3>
										<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
										<!-- <a href="javascript:void(0)" class=" main-btn  btn-hover wow fadeInUp" data-wow-delay=".6s">Know More</a> -->
										
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-md-6">
								<div class="single-service">
									<div class="icon">
										<img src="../../../assets/images/about/1814093_calendar_events_schedule_icon.svg" alt="">										
									</div>
									<div class="content">
										<h3>Cult Combat</h3>
										<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-xl-6">
						<div class="row">
							<div class="col-xl-6 col-md-6">
								<div class="single-service">
									<div class="icon">
										<img src="../../../assets/images/about/1814093_calendar_events_schedule_icon.svg" alt="">
									</div>
									<div class="content">
										<h3>Abhiyant</h3>
										<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-md-6">
								<div class="single-service">
									<div class="icon">
										<img src="../../../assets/images/about/1814093_calendar_events_schedule_icon.svg" alt="">										
									</div>
									<div class="content">
										<h3>Open Mic</h3>
										<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- ========================= milan-section end ========================= -->

		<!-- ========================= archives-section start ========================= -->
		<section id="archives" class="about-section pt-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="about-img wow fadeInUp" data-wow-delay=".5s">
							<img src="../../../assets/images/about/group.jpeg" alt="">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content">
							<div class="section-title">
								<h1 class="wow fadeInUp" data-wow-delay=".2s">Learn More About Us</h1>
								<p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam era.Lorem ipsum dolor sit</p>
							</div>

							<div class="counter-up wow fadeInUp" data-wow-delay=".8s">
								<div class="single-counter">
									<h3 id="secondo1" class="countup" cup-end="1" cup-append="M+">1 </h3>
									<h5>Downloads</h5>
								</div>
								<div class="single-counter position-relative">
									<h3 id="secondo2" class="countup" cup-end="234" cup-append="K+">234 </h3>
									<h5>Happy Users</h5>
								</div>
								<div class="single-counter">
									<h3 id="secondo3" class="countup" cup-end="34" cup-append="K+">34 </h3>
									<h5>Reviews</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= archives-section end ========================= -->

		
		<!-- ========================= testimonial-section start ========================= -->
		<section class="testimonial-section img-bg mt-130 pt-60 pb-60">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-12">
            <div class="hero-content">
              <h1 class="wow fadeInUp" data-wow-delay=".2s">You are using free lite version</h1>
              <p class="wow fadeInUp" data-wow-delay=".4s">
                Please purchase full version of the template to get all sections, milan and permission to remove footer credits.
              </p><br>
              <a href="https://rebrand.ly/saasland-gg/" rel="nofollow" class="main-btn btn-hover wow fadeInUp" data-wow-delay=".6s">Purchase Now</a>
            </div>
					</div>
				</div>
			</div>
		</section>
    <!-- ========================= testimonial-section end ========================= -->

    <!-- ========================= calender-section start ========================= -->
    <section id="calender" class="pricing-section pt-130">
			<div class="container">
				<div class="row align-items-end">
					<div class="col-lg-7 col-xl-5">
						<div class="section-title mb-60">
							<h1 class="mb-35 wow fadeInUp" data-wow-delay=".2s">Choose Your Plan</h1>
							<p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
						</div>
					</div>

					<div class="col-lg-5 col-xl-7">
						<ul class="nav nav-pills pricing-tab mb-60" id="pills-tab" role="tablist">
							<li role="presentation">
								<a class="pricing-tab-link active" id="pills-monthly-tab" data-toggle="pill" href="#pills-monthly" role="tab" aria-controls="pills-monthly" aria-selected="true">
									Monthly
								</a>
							</li>
							<li role="presentation">
								<a class="pricing-tab-link" id="pills-yearly-tab" data-toggle="pill" href="#pills-yearly" role="tab" aria-controls="pills-yearly" aria-selected="false">
									Yearly
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-monthly" role="tabpanel" aria-labelledby="pills-monthly-tab">
						<div class="row">
							<div class="col-lg-4 col-md-6">
								<div class="single-pricing">
									<div class="icon">
										<img src="assets/images/pricing/pricing-1.svg" alt="">												
									</div>
									<h3 class="package-name">Startup</h3>
									<span class="price">$13.00</span>
									<ul>
										<li>Extra milan</li>
										<li>Lifetime free support</li>
										<li>Upgrade options</li>
										<li>Full access</li>
									</ul>
									<a href="javascript:void(0)" class="main-btn border-btn btn-hover">Get Started</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-pricing">
									<div class="icon">
										<img src="assets/images/pricing/pricing-2.svg" alt="">												
									</div>
									<h3 class="package-name">Standard</h3>
									<span class="price">$53.00</span>
									<ul>
										<li>Extra milan</li>
										<li>Lifetime free support</li>
										<li>Upgrade options</li>
										<li>Full access</li>
									</ul>
									<a href="javascript:void(0)" class="main-btn btn-hover">Get Started</a>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-pricing">
									<div class="icon">
										<img src="assets/images/pricing/pricing-3.svg" alt="">												
									</div>
									<h3 class="package-name">Premium</h3>
									<span class="price">$93.00</span>
									<ul>
										<li>Extra milan</li>
										<li>Lifetime free support</li>
										<li>Upgrade options</li>
										<li>Full access</li>
									</ul>
									<a href="javascript:void(0)" class="main-btn border-btn btn-hover">Get Started</a>
								</div>
							</div>
						</div>
					</div>
					
				</div>


			</div>
		</section>
		<!-- ========================= calender-section end ========================= -->

		<!-- ========================= transparency-section start ========================= -->
		<section id="transparency" class="contact-section pt-130">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-xl-5">
						<div class="section-title text-center mb-60">
							<h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s">Transparency Section</h1>
							<p class="wow fadeInUp" data-wow-delay=".4s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
						</div>
					</div>
				</div>	
			</div>
		</section>
		<!-- ========================= transparency-section end ========================= -->
		<!-- ========================= map-section start ========================= -->
		<section id="map" class="contact-section pt-130">
			<div class="container">
				<div class="row ">
					<div class="col-lg-12 col-xl-12">
							<h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s">IITH Map</h1>
							<div class="responsive-map">
								<iframe width="100%" height="20" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=100&amp;hl=en&amp;q=iit%20hyderabad,%20kandi+(IIT%20Hyderabad)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
							</div>
					</div>
				</div>	
			</div>
		</section>
		<!-- ========================= map-section end ========================= -->
		<!-- ========================= gallery-section end ========================= -->
		<section id="gallery" class="contact-section pt-130">
			<div class="container">
				<div class="row ">
					<div class="col-lg-12 col-xl-12">
							<h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s">Gallery</h1>
							<div class="containera">
								<div class="box">
									<img src="https://source.unsplash.com/1000x800">
									<span>Image1</span>
								  </div>
								  <div class="box">
									<img src="https://source.unsplash.com/1000x802">
									<span>Image2</span>
								  </div>
								  <div class="box">
									<img src="https://source.unsplash.com/1000x804">
									<span>Image3</span>
								  </div>
								  <div class="box">
									<img src="https://source.unsplash.com/1000x806">
									<span>Image4</span>
								  </div>
								  <div class="box">
									<img src="https://source.unsplash.com/1000x806">
									<span>Image5</span>
								  </div>
								  <div class="box">
									<img src="https://source.unsplash.com/1000x806">
									<span>Image6</span>
								  </div>
								</div>
					</div>
				</div>	
			</div>
		</section>
		<!-- ========================= gallery-section end ========================= -->

    <!-- ========================= footer start ========================= -->
		<footer class="footer mt-150 pt-90">
			<div class="container">
				
				<div class="widget-wrapper">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget">
								<div class="logo">
									<a href="index.html"> <img src="../../../assets/images/logo/logo-dark.png" alt="logo"> </a>
								</div>
								<ul class="socials">
									<li>
										<a href="javascript:void(0)"> <i class="lni lni-facebook-filled"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)"> <i class="lni lni-twitter-filled"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)"> <i class="lni lni-instagram-filled"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0)"> <i class="lni lni-linkedin-original"></i> </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget">
								<h3 class="text-white">Explore</h3>
								<ul class="links">
									<li>
										<a href="#">About </a>
									</li>
									<li>
										<a href="#">Our Team </a>
									</li>
									<li>
										<a href="#">Milan </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget">
								<h3 class="text-white">Terms</h3>
								<ul class="links">
									<li>
										<a href="javascript:void(0)">Refund Policy</a>
									</li>
									<li>
										<a href="javascript:void(0)">Terms of Service</a>
									</li>
									<li>
										<a href="javascript:void(0)">Support Policy</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget">
								<h3 class="text-white">Links</h3>
								<ul class="links">
									<li>
										<a href="javascript:void(0)">Help </a>
									</li>
									<li>
										<a href="javascript:void(0)">Support </a>
									</li>
									<li>
										<a href="javascript:void(0)">Contact </a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
    <!-- ========================= footer end ========================= -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.5.0.0.alpha-2-min.js"></script>
    <script src="assets/js/count-up.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
