<!DOCTYPE html>
<!-- ========================= ========================== ========================= -->
<!-- ========================= Gymkhana Website Rebuild_v1 ========================= -->
<!-- ========================= authors: g0dy91, mohsayeed ========================= -->
<!-- ========================= ========================== ========================= -->
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>GYMKHANA - IITH Landing Page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.svg"/> -->
    <!-- ========================= CSS here ========================= -->
    
  </head>
  <body>
    <!-- ========================= preloader start ========================= -->
    <div class="preloader">
      <div class="loader">
        <div class="ytp-spinner">
          <div class="ytp-spinner-container">
            <div class="ytp-spinner-rotator">
              <div class="ytp-spinner-left">
                <div class="ytp-spinner-circle"></div>
              </div>
              <div class="ytp-spinner-right">
                <div class="ytp-spinner-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- preloader end -->

    <!-- ========================= header start ========================= -->
    <header class="header">
      <div class="navbar-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" >
                  <img src="../../../assets/images/logo/logo-dark.png" alt="Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                  <span class="toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                  <ul id="nav" class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="page-scroll" href="#home">Home</a>
                    </li>
					<li class="nav-item">
						<a class="page-scroll" href="office.html">Office bearers</a>
					</li>
					<li class="nav-item">
						<a class="link" href="#council">Council</a>
						<ul>
							<li><a class="link" href="#general">General Council</a></li>
							<li><a class="link" href="#scitech">Sci-Tech Council</a></li>
							<li><a class="link" href="#cultural">Cultural Council</a></li>
							<li><a class="link" href="#sports">Sports Council</a></li>
							<li><a class="link" href="#media">Media Council</a></li>
							<li><a class="link" href="#mess">Mess Council</a></li>
						</ul>
					  </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#events">Events</a>
                    </li>
                    <li class="nav-item">
                      <a class="link" href="#archives">Archives</a>
					  <ul>
						  <li><a class="link" href="#elections">Elections 2020</a></li>
						  <li><a class="link" href="#milanarchive">Milan 2020</a></li>
						  <li><a class="link" href="#scavenger">Scavenger Hunt</a></li>
					  </ul>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#calender">Calender</a>
                    </li>
                    <li class="nav-item">
                      <a class="page-scroll" href="#transparency">Transparency</a>
                    </li>
					<li class="nav-item">
						<a class="page-scroll" href="#gallery">Gallery</a>
					</li>
                  </ul>
                </div>
                <!-- navbar collapse -->
              </nav>
              <!-- navbar -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </div>
      <!-- navbar area -->
    </header>
    <!-- ========================= header end ========================= -->

    <!-- ========================= hero-section start ========================= -->
    <section id="home" class="hero-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">
            <div class="hero-content">
              <h1 class="wow fadeInUp" data-wow-delay=".2s">STUDENT GYMKHANA <br> IIT Hyderabad</h1>
              <p class="wow fadeInUp" data-wow-delay=".4s">
                Student Body IIT Hyderabad
              </p>
               
            </div>
		</div>
        </div>
      </div>
    </section>
		<!-- ========================= hero-section end ========================= -->

		<!-- ========================= intro-section start ========================= -->
		<section id="intro" class="about-section pt-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="about-img wow fadeInUp" data-wow-delay=".5s">
							<img src="../../../assets/images/about/group.jpeg" alt="">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content">
							<div class="section-title">
								<h1 class="wow fadeInUp" data-wow-delay=".2s">WELCOME TO GYMKHANA <br>
									IIT HYDERABAD.</h1>
								<p class="wow fadeInUp" data-wow-delay=".4s" style="text-align: justify;">Student Gymkhana IITH is the student body of 
									IIT Hyderabad which aims to bring the students together for their mutual all-round 
									development. All the members of the Student Gymkhana are bounded by the Student 
									Gymkhana Constitution and functions through its Executive Council, with the guidance of faculty incharges.</p>
							</div>
							<div class="section-title">
								<p class="wow fadeInUp" data-wow-delay=".4s" style="font-size: medium; text-align: justify;">
									These members manage all the activities in their respective areas with the President coordinating them all.
									 They are selected through the general elections which are held at the end of each academic year.
									  Each domain has its own Council which helps the Secretaries in conducting various activities throughout
									   the year. Student Gymkhana is constituted to foster a sense of unity among the students.
										It oversees all the aspects of the students' life during their stay at IIT Hyderabad and is constantly
										 trying to improve their life here. It also acts as a link between the administration and the students.</p>
							</div>
									
							
						</div>
					</div>
				</div>
			</div>
			
			
		</section>
	
		<!-- ========================= intro-section end ========================= -->

				<!-- ========================= council-section start ========================= -->
				<section id="council" class="service-section pt-150">
					<div class="container">
						<div class="section-title text-center mb-60">
							<h1 class="wow fadeInUp" data-wow-delay=".2s">COUNCILS</h1>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-12 col-xl-12">
								<div class="row">
									<div class="col-xl-2 col-md-2">
										<div class="single-service">
											<div class="icon">
												<img src="../../../assets/images/logo/logo-dark.png" alt="">
											</div>
											<div class="content">
												<h3>General</h3>
												<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
												<!-- <a href="javascript:void(0)" class=" main-btn  btn-hover wow fadeInUp" data-wow-delay=".6s">Know More</a> -->
												
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-md-2">
										<div class="single-service">
											<div class="icon">
												<img src="../../../assets/images/logo/logo-dark.png" alt="">										
											</div>
											<div class="content">
												<h3>Sci-Tech</h3>
												<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-md-2">
										<div class="single-service">
											<div class="icon">
												<img src="../../../assets/images/logo/logo-dark.png" alt="">										
											</div>
											<div class="content">
												<h3>Sci-Tech</h3>
												<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-md-2">
										<div class="single-service">
											<div class="icon">
												<img src="../../../assets/images/logo/logo-dark.png" alt="">
											</div>
											<div class="content">
												<h3>General</h3>
												<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
												<!-- <a href="javascript:void(0)" class=" main-btn  btn-hover wow fadeInUp" data-wow-delay=".6s">Know More</a> -->
												
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-md-2">
										<div class="single-service">
											<div class="icon">
												<img src="../../../assets/images/logo/logo-dark.png" alt="">										
											</div>
											<div class="content">
												<h3>Sci-Tech</h3>
												<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-md-2">
										<div class="single-service">
											<div class="icon">
												<img src="../../../assets/images/logo/logo-dark.png" alt="">										
											</div>
											<div class="content">
												<h3>Sci-Tech</h3>
												<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
		
					</div>
				</section>
				<!-- ========================= council-section end ========================= -->

		
		<!-- ========================= events-section start ========================= -->
		<section id="events" class="service-section pt-150">
			<div class="container">
				<div class="section-title">
					<h1 class="wow fadeInUp" data-wow-delay=".2s">Events at IITH</h1>
				</div>
				<div class="row align-items-center">
					<div class="col-lg-12 col-xl-6">
						<div class="row">
							<div class="col-xl-6 col-md-6">
								<div class="single-service">
									<div class="icon">
										<img src="../../../assets/images/about/1814093_calendar_events_schedule_icon.svg" alt="">
									</div>
									<div class="content">
										<h3>Milan</h3>
										<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
										<!-- <a href="javascript:void(0)" class=" main-btn  btn-hover wow fadeInUp" data-wow-delay=".6s">Know More</a> -->
										
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-md-6">
								<div class="single-service">
									<div class="icon">
										<img src="../../../assets/images/about/1814093_calendar_events_schedule_icon.svg" alt="">										
									</div>
									<div class="content">
										<h3>Cult Combat</h3>
										<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-xl-6">
						<div class="row">
							<div class="col-xl-6 col-md-6">
								<div class="single-service">
									<div class="icon">
										<img src="../../../assets/images/about/1814093_calendar_events_schedule_icon.svg" alt="">
									</div>
									<div class="content">
										<h3>Abhiyant</h3>
										<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
									</div>
								</div>
							</div>
							<div class="col-xl-6 col-md-6">
								<div class="single-service">
									<div class="icon">
										<img src="../../../assets/images/about/1814093_calendar_events_schedule_icon.svg" alt="">										
									</div>
									<div class="content">
										<h3>Open Mic</h3>
										<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- ========================= events-section end ========================= -->

		<!-- ========================= gallery-section start ========================= -->
		<section id="gallery" class="contact-section pt-130">
			<div class="container">
				<div class="row ">
					<div class="col-lg-12 col-xl-12">
							<h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s">Gallery</h1>
							<div class="containera">
								<div class="box">
									<img src="../../../assets/images/gallery/Acad block sunset.png">
									<span>Image1</span>
								  </div>
								  <div class="box">
									<img src="../../../assets/images/gallery/acad_a.png">
									<span>Image2</span>
								  </div>
								  <div class="box">
									<img src="../../../assets/images/gallery/acad_a_night.png">
									<span>Image3</span>
								  </div>
								  <div class="box">
									<img src="../../../assets/images/gallery/hostels.png">
									<span>Image4</span>
								  </div>
								</div>
								<div class="containera">
									<div class="box">
										<img src="../../../assets/images/gallery/mess.png">
										<span>Image1</span>
									  </div>
									  <div class="box">
										<img src="../../../assets/images/gallery/mess_sunset.png">
										<span>Image2</span>
									  </div>
									  <div class="box">
										<img src="../../../assets/images/gallery/sunshine.png">
										<span>Image3</span>
									  </div>
									  <div class="box">
										<img src="../../../assets/images/gallery/walkathon.png">
										<span>Image4</span>
									  </div>
									</div>
					</div>
				</div>	
			</div>
		</section>
		<!-- ========================= gallery-section end ========================= -->

 


		<!-- ========================= map-section start ========================= -->
		<section id="map" class="contact-section pt-130">
			<div class="container">
				<div class="row ">
					<div class="col-lg-12 col-xl-12">
							<h1 class="mb-25 wow fadeInUp" data-wow-delay=".2s">IITH Map</h1>
							<div class="responsive-map">
								<iframe width="100%" height="20" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=100&amp;hl=en&amp;q=iit%20hyderabad,%20kandi+(IIT%20Hyderabad)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
							</div>
					</div>
				</div>	
			</div>
		</section>
		<!-- ========================= map-section end ========================= -->


		<!--<app-hexagon></app-hexagon>-->

		<!-- ========================= hexagon-section start ========================= -->

	<!--<section id="gallery" class="contact-section pt-130">
			<div class="button">
				<div class="hex">
				  <div></div>
				  <div></div>
				  <div></div>
				</div>
				<div class="hex">
				  <div></div>
				  <div></div>
				  <div></div>
				</div>
			  </div>
		</section>-->			
		<!-- ========================= hexagon-section end ========================= -->		
		<!-- ========================= hexagon-section end ========================= -->


    <!-- ========================= footer start ========================= -->
		<footer class="footer mt-150 pt-90">
			<div class="container">
				
				<div class="widget-wrapper">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget">
								<div class="logo">
									<a href="index.html"> <img src="../../../assets/images/logo/logo-dark.png" alt="logo"> </a>
								</div>
								<ul class="social-network social-circle">
									<li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fab fa-twitter"></i></a></li>
								</ul>		
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget">
								<h3 class="text-white">Explore</h3>
								<ul class="links">
									<li>
										<a href="#">About </a>
									</li>
									<li>
										<a href="#">Our Team </a>
									</li>
									<li>
										<a href="#">Milan </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget">
								<h3 class="text-white">Quick Links</h3>
								<ul class="links">
									<li>
										<a href="javascript:void(0)">IIT Hyderabad</a>
									</li>
									<li>
										<a href="javascript:void(0)">Entrepreneurship Cell</a>
									</li>
									<li>
										<a href="javascript:void(0)">National Service Scheme</a>
									</li>
									<li>
										<a href="javascript:void(0)">Elan & nVision</a>
									</li>
									<li>
										<a href="javascript:void(0)">Student Mentor Program</a>
									</li>
									<li>
										<a href="javascript:void(0)">Hostel coordinating Unit</a>
									</li>
									<li>
										<a href="javascript:void(0)">Culturals</a>
									</li>
									<li>
										<a href="javascript:void(0)">Yearbook 2020</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="footer-widget">
								<h3 class="text-white">Contact Us</h3>
								<ul class="links">
									<li>
										<a href="javascript:void(0)"><h6 class="text-white">Location:</h6>  
											Indian Institute of Technology, Hyderabad <br>
											Near NH-65, Sangareddy, kandi,<br> Telangana 502285 </a>
									</li>
									<li><br></li>
									<li>
										<a href="javascript:void(0)"><h6 class="text-white">Phone:</h6> +91-8999428103 </a>
									</li>
									<li>
										<a href="javascript:void(0)"><h6 class="text-white">Mail us at:</h6>media_secy@gymkhana.iith.ac.in  </a>
									</li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
    <!-- ========================= footer end ========================= -->
    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.5.0.0.alpha-2-min.js"></script>
    <script src="assets/js/count-up.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
