@import 'helpers/colors';
@import 'helpers/mixins';
@import 'helpers/variable';


h4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  display: inline;
  vertical-align: sub;
}
.table-search {
  position: relative;
  .form-control {
    padding-right: 1.8rem;
  }
  img {
    position: absolute;
    top: 6px;
    right: 6px;
  }
}

.table-filter {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 2px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
  &::before {
    content: '';
    position: absolute;
    top: -12px;
    right: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #dfdfdf;
  }
}

.table-responsive {
  @include scrollbars(0.5em, $annoor-grey);
}

.nocursor {
  pointer-events: none;
}

table.table {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  th.desc:before,
  th.asc:before {
    content: '';
    display: block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC)
      no-repeat;
    background-size: 17px;
    width: 17px;
    height: 17px;
    float: left;
  }
  th.desc:before {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  tr {
    
    th {
      position: relative;
      background-color: #c5daed;
      text-align: center;
      cursor: context-menu;
    }
    &:nth-child(even) {
      td {
        background-color: #e9edf9;
      }
    }
    &:nth-child(odd) {
      td {
        background-color: #f9f9f9;
      }
    }
    td,
    th {
      border-color: #bfdcfe;
      border-top-width: 1px;
      border-bottom-width: 1px;
      vertical-align: middle;
      border-left: 1px solid #ececec;
    }
    &:hover td{
      background-color: $light-yellow;
    }
  }
}
.action-btns:first-child {
  img {
    width: 15px;
    margin-right: 2px;
  }
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.75rem;
}

.url{
  cursor: pointer;
}