<h1>Dashboard</h1>
<div class="flex-fill align-self-center">
    <h4>Students Info</h4>
</div>
<input type="text" placeholder="filter" (keyup)="quickSearch()" [(ngModel)]= "searchValue"> 
<button (click)="onBtnExport()">Download CSV export file</button>

<div class="table-responsive">
  <table class="table" #TABLE>
    <ag-grid-angular
    #agGrid
    id="myGrid"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [enableRangeSelection]="true"
    [domLayout]="domLayout"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>    
  </table>
</div>