$annoor-green: #99C221;
$annoor-blue: #385988;
$annoor-orange: #E16740;
$annoor-gold: #F38C3C;
$annoor-grey: #6C6864;

$light-blue: #def1f8;
$light-yellow: #fdf6c8;
$light-grey: #f0f0f0;



$secondary-color: #2b353c;
$body-bg: #fdfdfd;
$white: #ffffff;
$form-lable-color: #5a5a5a;

$input-bg: #eaf4f9;
$input-border: #c7d0d4;