$input-radius: 6px;
$orange-filter: invert(71%) sepia(70%) saturate(6587%) hue-rotate(347deg)
  brightness(97%) contrast(95%);
$green-filter: invert(70%) sepia(75%) saturate(398%) hue-rotate(37deg)
  brightness(91%) contrast(85%);
$gold-filter: invert(80%) sepia(18%) saturate(6019%) hue-rotate(343deg)
  brightness(98%) contrast(100%);
$blue-filter: invert(24%) sepia(96%) saturate(1420%) hue-rotate(185deg)
  brightness(87%) contrast(101%);
$grey-filter: invert(35%) sepia(5%) saturate(216%) hue-rotate(182deg)
  brightness(91%) contrast(86%);
