<body>
  <section id="intro" class="backgroundit about-section pt-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-white">
            <h1 class="wow fadeInUp text-white" style="letter-spacing: 2px;" data-wow-delay=".2s">
              Media <br>Council
            </h1>
          </div>
        </div>
        <div class="col-lg-6 text-white" >
           <div class="laptop"><br>
            <br>
            <br>
            <br>
            <br>
            <br></div>
          <div class="section-title">
            <p
              class="wow fadeInUp"
              data-wow-delay=".4s"
              style="font-size: 14px;font-weight: 200;"
            >
            The media council of IITH was formed in May 2014 and is a student council that helps in taking IITH to every individual in and outside IITH. The council is  involved in publicizing the institute through social media, social events, etc. The Media Council is currently involved in various newsletters of IITH like the academic newsletter, placement newsletter and works under the guidance of various faculties of IITH. <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The council is also involved in managing all the social contacts of IITH. Apart from this, a Student Activity Page (SAP) that updates everyone of IITH’s daily students’ activities is also maintained by the council. The Media Council is also responsible for updating the Student Gymkhana Website with all the important documents and latest information.
            </p>
          </div>
          <!-- <div class="section-title">
            <p
              class="wow fadeInUp"
              data-wow-delay=".4s"
              style="font-size: 14px;font-weight: 200;"
            >
              Students can view the mess menu form, submit grievances, and
              collect dining food token through the links that are given below:
            </p>
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <main class="container mt-4 mb-4">
    <ol class="gradient-list wow fadeInUp" data-wow-delay=".5s">
      <li class="wow fadeInUp" data-wow-delay=".5s">
        <b
          >Highlights of the Month -
          <a href="/" style="display: inline">Click Here</a></b
        >
      </li>
      <li class="wow fadeInUp" data-wow-delay=".5s">
        <b
          >Link for Echo Blog -
          <a href="/" style="display: inline">Click Here</a></b
        >
      </li>
      <li class="wow fadeInUp" data-wow-delay=".5s">
        <b
          >Link for KirIITH Newsletter -
          <a href="/" style="display: inline">Click Here</a></b
        >
      </li>
    </ol>
  </main>
  <section id="council" class="service-section widthit">
    <div class="container">
      <div class="section-title text-center">
        <h1 class="wow fadeInUp pb-20" data-wow-delay=".2s">Team</h1>
      </div>
      <div class="img d-flex justify-content-center">
        <img src="../../../assets/images/img6.jpg" alt="Image" >
      </div>
      <div class="row align-items-center d-flex justify-content-center">
        <div class="row" style="width: 540px;">
          <div class="d-flex img-square-wrapper my-auto justify-content-center col-sm-3">
            <img
              class=""
              src="../../../assets/images/office-bearers/2021-22/media.webp"
              alt="Card image cap" style="border-radius: 50%;width: 100px;height: 100px;"
            />
          </div>
          <div class="card-body my-auto col-sm-6">
            <div class="card-text">
              Tisha Rajeev Pantwane 
            </div>
            <div class="card-text">
              Media and Public relations Head
            </div>
            <div class="card-text" style="font-size: 14px;">
              <i class="fas fa-phone"></i>&nbsp; 8999428103
            </div>
            <div class="card-text" style="font-size: 14px;">
              <i class="fas fa-envelope"></i>&nbsp; media_secy@gymkhana.iith.ac.in
            </div>
            
          </div>
        </div>
      </div>
      <br />
      <br />
      <!-- <div class="laptop">
            <div class="container" style="display: flex;justify-content: space-between;">
               <button type="button" (click)="webt" class="btn btn-style">Web Team</button>
               <button type="button" (click)="contentt" class="btn btn-style">Content Team</button>
               <button type="button" (click)="digitalt" class="btn btn-style">Digital Arts Team</button>
               <button type="button" (click)="photot" class="btn btn-style">Photography Team</button>
               <button type="button" (click)="visualt" class="btn btn-style">Visual Arts Team</button>
            </div>
            <br />

         </div>  -->
      <div class="container">
        <div class="mt-2">
          <h3>Web Team</h3>
          <div class="container mp pb-3" id="mess-coordinator">
            <div class="row">
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Suprabat Devnath</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >is20mtech12001@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Shaik Mohammed Sayeed</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >cs19btech11004@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0"></div>
            </div>
            <div class="row">
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Samar Singhai</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >bm20btech11012@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Sai Prachodhan Devulapalli</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i>
                    ee20btech11013@iith.ac.in
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
        </div>
        <div class="mt-2">
          <h3>Content Team</h3>
          <div class="container mp pb-3" id="mess-coordinator">
            <div class="row">
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Prakhar Pragya</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >ch19btech11036@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Sachi Kavitake</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >es19btech11031@iith.ac.in
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Vibhuvan Kumar Reddy MukkaMalla</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >ee20btech11055@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Tapishi Kaur</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >ma20btech11017@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Gollamudi Renuka</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >me20btech11018@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Amulya Tallamraju</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >ai20btech11003@iith.ac.in
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
          
        </div>
        <div class="mt-2">
          <h3>Digital Arts Team</h3>
          <div class="container mp pb-3" id="mess-coordinator">
            <div class="row">
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Vivek Vk</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i>
                    es19btech11004@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Guguloth Abhishek</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i>
                    ms20btech11008@iith.ac.in
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Ekshan Raj Verma</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >ch20btech11012@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Mandira</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i>
                    bd19bdes11006@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Nethra Manda</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i>
                    ms20btech11012@iith.ac.in
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
        </div>
        <div class="mt-2">
          <h3>Visual Arts Team</h3>
          <div class="container mp pb-3" id="mess-coordinator">
            <div class="row">
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Danvish muthu</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >bd19bdes11010@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Kishore K</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i>
                    ms20btech11008@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Nillapalle Rushikesh Shesharao</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i>
                    es20btech11022@iith.ac.in
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
        </div>
        <div class="mt-2">
          <h3>Photography Team</h3>
          <div class="container mp pb-3" id="mess-coordinator">
            <div class="row">
              <div class="col-sm-6" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Ajana Dhavalkumar Jagdishbhai</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >ph20mscst11023@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Rachapudi Sri Rama Sudhamsu</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >ee20mtech14004@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0"></div>
            </div>
            <div class="row">
              <div class="col-sm-6" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Grandhi Sindhuja</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >ma19btech11011@iith.ac.in
                  </div>
                </div>
              </div>
              <div class="col-sm-6" style="padding-left:0;margin-left:0">
                <div >
                  <div class="card-body" style="padding-left:0;margin-left:0">
                    <h6 class="card-title">Shantanu Pandey</h6>
                    <i class="fas fa-envelope mr-2" style="color: rgba(0, 0, 0, 0.863)"></i
                    >cs20btech11046@iith.ac.in
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/>
        </div>
      </div>
    </div>
  </section>
</body>
