<body>
   <section id="intro" class="about-section pt-150">
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <div class="about-img wow fadeInUp" data-wow-delay=".5s">
                  <img src="../../../assets/images/about/group.avif" alt="" />
               </div>
            </div>
            <div class="col-lg-6">
               <div class="about-content">
                  <div class="section-title">
                     <h1 class="wow fadeInUp" data-wow-delay=".2s">
                        MEDIA COUNCIL <br />
                        IIT HYDERABAD
                     </h1>
                     <p class="wow fadeInUp" data-wow-delay=".4s" style="text-align: justify">
                        The media council of IITH was formed on May 2014 and is a student council that helps in taking
                        IITH to every individual in and outside IITH. We are involved in publicizing our institute
                        though social media, social events, etc. Media Council is currently involved in various
                        newsletters of IITH like the academic newsletter, placement newsletter with the guidance of
                        various faculties of IITH. We are also involved in managing all the social contacts of IITH.
                        Apart from this, we have introduced a Student Activity Page (SAP) that updates everyone of
                        IITH’s daily students’ activities. We also help our Student Body with the maintenance of various
                        webpages.
                     </p>
                  </div>
                  <!-- <div class="section-title">
                     <p class="wow fadeInUp" data-wow-delay=".4s" style="font-size: medium; text-align: justify">
                        These members manage all the activities in their respective
                        areas with the President coordinating them all. They are
                        selected through the general elections which are held at the end
                        of each academic year. Each domain has its own Council which
                        helps the Secretaries in conducting various activities
                        throughout the year. Student Gymkhana is constituted to foster a
                        sense of unity among the students. It oversees all the aspects
                        of the students' life during their stay at IIT Hyderabad and is
                        constantly trying to improve their life here. It also acts as a
                        link between the administration and the students.
                     </p>
                  </div> -->
               </div>
            </div>
         </div>
      </div>
   </section>
   <main class="container mt-4 mb-4">
      <ol class="gradient-list wow fadeInUp" data-wow-delay=".5s">
         <li class="wow fadeInUp" data-wow-delay=".5s"><b>Highlights of the Month - <a href="/"
                  style="display: inline;">Click Here</a></b></li>
         <li class="wow fadeInUp" data-wow-delay=".5s"><b>Link for Echo Blog - <a href="/"
                  style="display: inline;">Click Here</a></b></li>
         <li class="wow fadeInUp" data-wow-delay=".5s"><b>Link for KirIITH Newsletter - <a href="/"
                  style="display: inline;">Click Here</a></b></li>
      </ol>
   </main>
   <section id="council" class="service-section">
      <div class="container">
         <div class="section-title text-center">
            <h1 class="wow fadeInUp pb-20" data-wow-delay=".2s">Team Members</h1>
         </div>
         <div class="row align-items-center">
            <div class="col">
               <div class="card1">
                  <div class="imgBx">
                     <img
                        src="https://images.unsplash.com/photo-1532123675048-773bd75df1b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                        alt="images" />
                  </div>
                  <div class="details my-2">
                     <h2>Tisha Pantawane<br /><span>Media and Public Relations Head</span></h2>
                  </div>
               </div>
            </div>
         </div>
         <br />
        <br />
         <!-- <div class="laptop">
            <div class="container" style="display: flex;justify-content: space-between;">
               <button type="button" (click)="webt" class="btn btn-style">Web Team</button>
               <button type="button" (click)="contentt" class="btn btn-style">Content Team</button>
               <button type="button" (click)="digitalt" class="btn btn-style">Digital Arts Team</button>
               <button type="button" (click)="photot" class="btn btn-style">Photography Team</button>
               <button type="button" (click)="visualt" class="btn btn-style">Visual Arts Team</button>
            </div>
            <br />

         </div>  -->
         <div class="container">
            <div class="mt-2">
               <h1>Web Team</h1>
               <div class="container mp pb-3" id="mess-coordinator">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Suprabat Devnath</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>is20mtech12001@iith.ac.in
                           </div>
                        </div>

                     </div>
                     <div class="col-sm-4">
                     </div>
                     <div class="col-sm-4">

                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Shaik Mohammed Sayeed</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>cs19btech11004@iith.ac.in
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Samar Singhai</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>bm20btech11012@iith.ac.in
                           </div>
                        </div>

                     </div>
                     <div class="col-sm-4">
                     </div>
                     <div class="col-sm-4">

                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Sai Prachodhan Devulapalli</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i> ee20btech11013@iith.ac.in
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <hr>
            </div>
            <div class="mt-2">
               <h1>Content Team</h1>
               <div class="container mp pb-3" id="mess-coordinator">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Prakhar Pragya</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ch19btech11036@iith.ac.in
                           </div>
                        </div>

                     </div>
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Sachi Kavitake</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>es19btech11031@iith.ac.in
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-4">

                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Vibhuvan Kumar Reddy MukkaMalla</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ee20btech11055@iith.ac.in
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Tapishi Kaur</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ma20btech11017@iith.ac.in
                           </div>
                        </div>

                     </div>
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title"> Gollamudi Renuka</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>me20btech11018@iith.ac.in
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-4">

                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title"> Amulya Tallamraju</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ai20btech11003@iith.ac.in
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <hr>
            </div>
            <div class="mt-2">
               <h1>Digital Arts Team</h1>
               <div class="container mp pb-3" id="mess-coordinator">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title"> Vivek Vk</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i> es19btech11004@iith.ac.in
                           </div>
                        </div>

                     </div>
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Guguloth Abhishek</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i> ms20btech11008@iith.ac.in
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-4">

                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Ekshan Raj Verma</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ch20btech11012@iith.ac.in
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Mandira</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i> bd19bdes11006@iith.ac.in
                           </div>
                        </div>

                     </div>
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Nethra Manda</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i> ms20btech11012@iith.ac.in
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-2">
                     </div>
                  </div>
               </div>
               <hr>
            </div>
            <div class="mt-2">
               <h1>Visual Arts Team</h1>
               <div class="container mp pb-3" id="mess-coordinator">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Danvish muthu</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>bd19bdes11010@iith.ac.in
                           </div>
                        </div>

                     </div>
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Kishore K</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i> ms20btech11008@iith.ac.in
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-4">

                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title"> Nillapalle Rushikesh Shesharao</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i> es20btech11022@iith.ac.in
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <hr>
            </div>
            <div class="mt-2">
               <h1>Photography Team</h1>
               <div class="container mp pb-3" id="mess-coordinator">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Ajana Dhavalkumar Jagdishbhai</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ph20mscst11023@iith.ac.in
                           </div>
                        </div>

                     </div>
                     <div class="col-sm-4">
                     </div>
                     <div class="col-sm-4">

                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Rachapudi Sri Rama Sudhamsu</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ee20mtech14004@iith.ac.in
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Grandhi Sindhuja</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>ma19btech11011@iith.ac.in
                           </div>
                        </div>

                     </div>
                     <div class="col-sm-4">
                     </div>
                     <div class="col-sm-4">

                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Shantanu Pandey</h5>
                              <i class="fas fa-envelope mr-2" style="color: #9d0cdb;"></i>cs20btech11046@iith.ac.in
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

</body>