<body>
    <div class="app">
        <div class="cardList">
            <button class="cardList_btn btn btn_left">
                <div class="icon">
                    <svg>
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </div>
            </button>

            <div class="cards_wrapper">
                <div class="card current--card">
                    <div class="card_image">
                        <img src="../../../assets/images/events/elan_cover.webp" style="width: 100px;height: 100px;"alt="">
                    </div>
                </div>

                <div class="card next--card">
                    <div class="card_image">
                        <img src="../../../assets/images/events/sports_cover.webp"style="width: 100px;height: 100px;" alt="">
                    </div>
                </div>
                
                <div class="card previous--card">
                    <div class="card_image">
                        <img src="../../../assets/images/events/diesta_cover.webp"style="width: 100px;height: 100px;" alt="">
                    </div>
                </div>
            </div>

            <button class="cardList_btn btn btn_right">
                <div class="icon">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </button>
        </div>

        <div class="infoList">
            <div class="info_wrapper">
                <div class="info current_info">
                    <h1 class="infotext name">Elan</h1>
                    <h4 class="infotext location">Annual Cultural Fest</h4>
                    <p class="infotext description">Lorem ipsum dolor sit amet.</p>
                </div>

                <div class="info next_info">
                    <h1 class="infotext name">Inter IIT</h1>
                    <h4 class="infotext location">Inter IIT Sports Meet</h4>
                    <p class="infotext description">Lorem ipsum dolor sit amet consectetur.</p>
                </div>

                <div class="info previous_info">
                    <h1 class="infotext name">Diesta</h1>
                    <h4 class="infotext location">Interdeparmental Sports & Cultural meet</h4>
                    <p class="infotext description">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>

        <div class="app_bg">
            <div class="app_bg_img current_img">
                <img src="/images/elan_cover.webp" alt="">
            </div>

            <div class="app_bg_img next_img">
                <img src="/images/sports_cover.webp" alt="">
            </div>

            <div class="app_bg_img previous_img">
                <img src="/images/diesta_cover.webp" alt="">
            </div>
        </div>        
    </div>

    <div class="loading_wrapper">
        <div class="loader_text">Loading...</div>
        <div class="loader">
            <span></span>
        </div>
    </div>

    <svg class="icons" style="display: none;">
        <symbol id="arrow-left" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
          <polyline points='328 112 184 256 328 400'
                 style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
        </symbol>
        <symbol id="arrow-right" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
          <polyline points='184 112 328 256 184 400'
                 style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
        </symbol>
    </svg>
</body>
