<body>
    <!-- ========================= header start ========================= -->
   <app-header></app-header>
    <!-- ========================= header end ========================= -->

    <!-- ========================= hero-section start ========================= -->

		<!-- ========================= hero-section end ========================= -->

		<!-- ========================= intro-section start ========================= -->
		<section id="intro" class="about-section pt-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="about-img wow fadeInUp" data-wow-delay=".5s">
							<img src="../../../assets/images/about/group.jpeg" alt="">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content">
							<div class="section-title">
								<h1 class="wow fadeInUp" data-wow-delay=".2s">WELCOME TO GYMKHANA <br>
									IIT HYDERABAD.</h1>
								<p class="wow fadeInUp" data-wow-delay=".4s" style="text-align: justify;">Student Gymkhana IITH is the student body of 
									IIT Hyderabad which aims to bring the students together for their mutual all-round 
									development. All the members of the Student Gymkhana are bounded by the Student 
									Gymkhana Constitution and functions through its Executive Council, with the guidance of faculty incharges.</p>
							</div>
							<div class="section-title">
								<p class="wow fadeInUp" data-wow-delay=".4s" style="font-size: medium; text-align: justify;">
									These members manage all the activities in their respective areas with the President coordinating them all.
									 They are selected through the general elections which are held at the end of each academic year.
									  Each domain has its own Council which helps the Secretaries in conducting various activities throughout
									   the year. Student Gymkhana is constituted to foster a sense of unity among the students.
										It oversees all the aspects of the students' life during their stay at IIT Hyderabad and is constantly
										 trying to improve their life here. It also acts as a link between the administration and the students.</p>
							</div>
									
							
						</div>
					</div>
				</div>
			</div>
			
			
		</section>
	
		<!-- ========================= intro-section end ========================= -->

				<!-- ========================= council-section start ========================= -->
				<section id="council" class="service-section pt-150">
					<div class="container">
						<div class="section-title text-center mb-60">
							<h1 class="wow fadeInUp" data-wow-delay=".2s">Council Members</h1>
						</div>
						<div class="row align-items-center">
							<div class="col-lg-12 col-xl-6">
								<div class="row">
									<div class="col-xl-6 col-md-6">
										<div class="single-service">
											<div class="icon">
												<img src="../../../assets/images/logo/logo-dark.png" alt="">
											</div>
											<div class="content">
												<h3>General</h3>
												<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
												<!-- <a href="javascript:void(0)" class=" main-btn  btn-hover wow fadeInUp" data-wow-delay=".6s">Know More</a> -->
												
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-md-6">
										<div class="single-service">
											<div class="icon">
												<img src="../../../assets/images/logo/logo-dark.png" alt="">										
											</div>
											<div class="content">
												<h3>Sci-Tech</h3>
												<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-xl-6">
								<div class="row">
									<div class="col-xl-6 col-md-6">
										<div class="single-service">
											<div class="icon">
												<img src="../../../assets/images/logo/logo-dark.png" alt="">
											</div>
											<div class="content">
												<h3>Cultural</h3>
												<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
											</div>
										</div>
									</div>
									<div class="col-xl-6 col-md-6">
										<div class="single-service">
											<div class="icon">
												<img src="../../../assets/images/logo/logo-dark.png" alt="">										
											</div>
											<div class="content">
												<h3>Sports</h3>
												<p>Lorem ipsum dolor samet consetetur sadipscing dge</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
		
					</div>
				</section>
				<!-- ========================= council-section end ========================= -->

		<!-- Inspired by: https://try.alexa.com/marketing-stack/seo-tools/ and https://stratus.hr/

With help from https://24ways.org/2010/intro-to-css-3d-transforms/-->

<div class="container">
	<div class="row flip-boxes">
	  <div class="col-md-3 col-sm-4 col-8 flip-box">
		<div class="front" style="background-image: url(https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&h=350);">
		  <div class="content text-center">
			First<br>
			<span class="click-for-more">
			</span>
		  </div>
		</div>
		<div class="back">
		  <div class="content">
			First Back
		  </div>
		</div>
	  </div>
	  <div class="col-md-3 col-sm-4 col-6 flip-box">
		<div class="front" style="background-image: url(https://thumbs.dreamstime.com/b/countryside-landscape-hillside-beautiful-scenic-view-river-rural-fields-summer-season-89540702.jpg);">
		  <div class="content" >
			Second
		  </div>
		</div>
		<div class="back">
		  <div class="content">
			Second Back
		  </div>
		</div>
	  </div>
	  <div class="col-md-3 col-sm-4 col-6 flip-box">
		<div class="front" style="background-image: url(https://llandscapes-ee1.kxcdn.com/wp-content/uploads/2017/09/33945202050_48027b6b38_z.jpg);">
		  <div class="content">
			Third
		  </div>
		</div>
		<div class="back">
		  <div class="content">
			Third Back
		  </div>
		</div>
	  </div>
	</div>
  </div>
		<!-- ========================= events-section start ========================= -->
		
		<!-- ========================= hexagon-section end ========================= -->		
		<!-- ========================= hexagon-section end ========================= -->
		<app-footer></app-footer>
  </body>
<!-- </html> -->
