<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<section id="intro" class="about-section pt-150">
  <div class="container-fluid mb-5">
    <div class="row m-auto">
      <div class="col-lg-12 m-auto">
          <div class="row">
            <div class="col  justify-content-center">
              <div class="card2">
                <p class="title mb-4">Constitution</p>
                <p class="text mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, ipsam voluptate esse accusamus recusandae eum, ullam suscipit cum ad asperiores consequuntur, ipsum ab officia explicabo laudantium amet. Impedit, ullam vero!</p>
                <button class="btn btn-style">Learn More</button>
              </div>
            </div>
            <div class="col  justify-content-center">
              <div class="card2">
                <p class="title mb-4">Townhall Meeting</p>
                <p class="text mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, ipsam voluptate esse accusamus recusandae eum, ullam suscipit cum ad asperiores consequuntur, ipsum ab officia explicabo laudantium amet. Impedit, ullam vero!</p>
                <button class="btn btn-style">Learn More</button>
              </div>
            </div>
            <div class="col  justify-content-center">
              <div class="card2">
                <p class="title mb-4">Gymkhana Monthly Tracking</p>
                <p class="text mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, ipsam voluptate esse accusamus recusandae eum, ullam suscipit cum ad asperiores consequuntur, ipsum ab officia explicabo laudantium amet. Impedit, ullam vero!</p>
                <button class="btn btn-style">Learn More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section id="intro" class="about-section pt-70">
  <div class="container">
    <div class="row gutters">
      <h1>Transperancy Report</h1>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <!-- Timeline start -->
            <div class="timeline">
              <div class="timeline-row">
                <div class="timeline-time">21 May 2021</div>
                <div class="timeline-dot fb-bg"></div>
                <div class="timeline-content">
                  <i class="fa fa-check"></i>
                  <h4>Transperancy Report</h4>
                  <p>
                    Townhall Meeting Minutes &#8594;<a href="../../../assets/transperancypdf/27-05-2021_townhall_meeting.pdf" target="blank">Click here</a>
                    <br/>
                    Gymkhana Monthly Track &#8594; <a href="https://docs.google.com/document/d/1JZPMxDVDHGDIKFq-F5yFCBdRfxRPwjyQoAlw_s30N4Q/edit" target="blank">Click here</a>
                  </p>
                </div>
              </div>
              <div class="timeline-row">
                <div class="timeline-time">11 Feb 2021</div>
                <div class="timeline-dot green-one-bg"></div>
                <div class="timeline-content green-one">
                  <i class="fa fa-check"></i>
                  <h4>Transperancy Report</h4>
                  <p>
                    Townhall Meeting Minutes &#8594;<a href="../../../assets/transperancypdf/Townhall_meet_2021_feb.pdf" target="blank">Click here</a>
                    </p>
                </div>
              </div>
              <div class="timeline-row">
                <div class="timeline-time">9 Sep 2019</div>
                <div class="timeline-dot green-two-bg"></div>
                <div class="timeline-content green-two">
                  <i class="fa fa-check"></i>
                  <h4>Weekly report</h4>
                  <p>
                    Townhall Meeting Minutes(PG's)  &#8594;<a href="../../../assets/transperancypdf/PG_sep_2019.pdf" target="blank">Click here</a>
                    <br/>
                    Townhall Meeting Minutes(UG's) &#8594; <a href="../../../assets/transperancypdf/UG_sep_2019.pdf" target="blank">Click here</a>
                    <br/>
                    Minutes with Director transport issues &#8594; <a href="../../../assets/transperancypdf/minutes_sep_2019.pdf" target="blank">Click here</a>
                  </p>
                </div>
              </div>
              <div class="timeline-row">
                <div class="timeline-time">21 July 2019</div>
                <div class="timeline-dot green-three-bg"></div>
                <div class="timeline-content green-three">
                  <i class="fa fa-check"></i>
                  <h4>Weekly report</h4>
                  <p>
                    Gymkhana Meeting &#8594;<a href="../../../assets/transperancypdf/gymMeeting_july_2021.docx" target="blank">Click here</a>
                  </p>
                </div>
              </div>
              <div class="timeline-row">
                <div class="timeline-time">25 Apr 2019</div>
                <div class="timeline-dot green-four-bg"></div>
                <div class="timeline-content green-four">
                  <i class="fa fa-check"></i>
                  <h4>Weekly Report</h4>
                  <p>
                    32 Senate Minutes For Students &#8594;<a href="../../../assets/transperancypdf/32senate_apr_2019.pdf" target="blank">Click here</a>
                  </p>
                </div>
              </div>
              <div class="timeline-row">
                <div class="timeline-time">6 Jan 2016</div>
                <div class="timeline-dot teal-bg"></div>
                <div class="timeline-content teal">
                  <i class="fa fa-check"></i>
                  <h4>Semester Report</h4>
                  <p>
                    Work updates - General Council &#8594;<a href="../../../assets/transperancypdf/general16a-d.pdf" target="blank">Click here</a>
                    <br/>
                    Work updates - Cultural Council &#8594;<a href="../../../assets/transperancypdf/cult16a-d.pdf" target="blank">Click here</a>
                    <br/>
                    Work updates - Sports Council &#8594;<a href="../../../assets/transperancypdf/sports16a-d.pdf" target="blank">Click here</a>
                    <br/>
                    Work updates - SciTech Council &#8594;<a href="../../../assets/transperancypdf/scitech16a-d.pdf" target="blank">Click here</a>
                  </p>
                </div>
              </div>
              <div class="timeline-row">
                <div class="timeline-time">6 Oct 2016</div>
                <div class="timeline-dot sea-green-bg"></div>
                <div class="timeline-content sea-green">
                  <i class="fa fa-check"></i>
                  <h4>Weekly Report</h4>
                  <p>
                    Work Done &#8594;<a href="" target="blank">Click here</a>
                  </p>
                </div>
              </div>
            </div>
            <!-- Timeline end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
