<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<section id="intro" class="about-section pt-150">
  <div class="container">
    <div class="row gutters">
        <h1>Transperancy Report</h1>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <!-- Timeline start -->
            <div class="timeline">
              <div class="timeline-row">
                <div class="timeline-time">21 May 2021</div>
                <div class="timeline-dot fb-bg"></div>
                <div class="timeline-content">
                  <i class="fa fa-check"></i>
                  <h4>Transperancy Report</h4>
                  <p>
                    Milestone Admin Dashboard contains C3 graphs, flot graphs,
                    data tables, calendar, drag &amp; drop and ion slider.
                  </p>
                  <div class="">
                    <span class="badge badge-light">Design</span>
                    <span class="badge badge-light">Admin</span>
                  </div>
                </div>
              </div>
              <div class="timeline-row">
                <div class="timeline-time">11 Feb 2021</div>
                <div class="timeline-dot green-one-bg"></div>
                <div class="timeline-content green-one">
                  <i class="fa fa-check"></i>
                  <h4>Transperancy Report</h4>
                  <p>
                    Milestone Admin Dashboard contains C3 graphs, flot graphs,
                    data tables, calendar.
                  </p>
                  <div class="">
                    <span class="badge badge-light">Design</span>
                    <span class="badge badge-light">Admin</span>
                  </div>
                </div>
              </div>
              <div class="timeline-row">
                <div class="timeline-time">9 Sep 2019</div>
                <div class="timeline-dot green-two-bg"></div>
                <div class="timeline-content green-two">
                  <i class="fa fa-check"></i>
                  <h4>Weekly report</h4>
                  <p>
                    Custom C3 graphs, Custom flot graphs, flot graphs, small
                    graphs, Sass, profile and timeline.
                  </p>
                  <div>
                    <span class="badge badge-light">Invoice</span>
                    <span class="badge badge-light">Graphs</span>
                  </div>
                </div>
              </div>
              <div class="timeline-row">
                <div class="timeline-time">21 July 2019</div>
                <div class="timeline-dot green-three-bg"></div>
                <div class="timeline-content green-three">
                  <i class="fa fa-check"></i>
                  <h4>Weekly report</h4>
                  <p>
                    Admin theme includes graphs, invoice, timeline, widgets,
                    projects, calendar, components, layouts, todo's.
                  </p>
                  <div>
                    <span class="badge badge-light">Profile</span>
                    <span class="badge badge-light">Dashboard</span>
                  </div>
                </div>
              </div>
              <div class="timeline-row">
                <div class="timeline-time">25 Apr 2019</div>
                <div class="timeline-dot green-four-bg"></div>
                <div class="timeline-content green-four">
                  <i class="fa fa-check"></i>
                  <h4>Weekly Report</h4>
                  <p class="no-margin">
                    Milestone Admin Dashboard includes invoice, profile, tasks,
                    gallery, projects, maintanence.
                  </p>
                  <div>
                    <span class="badge badge-light">Analytics</span>
                    <span class="badge badge-light">Graphs</span>
                  </div>
                </div>
              </div>
              <div class="timeline-row">
                <div class="timeline-time">6 Jan 2017</div>
                <div class="timeline-dot teal-bg"></div>
                <div class="timeline-content teal">
                  <i class="fa fa-check"></i>
                  <h4>Semester Report
                </h4>
                  <p class="no-margin">
                    Panels, alerts, notifications, new input styles, pricing
                    plans, project plan, signup, login and register.
                  </p>
                  <div>
                    <span class="badge badge-light">Labels</span>
                    <span class="badge badge-light">Filters</span>
                  </div>
                </div>
              </div>
              <div class="timeline-row">
                <div class="timeline-time">6 Oct 2016</div>
                <div class="timeline-dot sea-green-bg"></div>
                <div class="timeline-content sea-green">
                  <i class="fa fa-check"></i>
                  <h4>Weekly Report
                </h4>
                  <p>
                    Milestone Admin Dashboard contains Ion slider, heatmap,
                    alerts, breadcrumbs, alerts, pricing, signup, login and
                    register.
                  </p>
                  <div>
                    <span class="badge badge-light">BS 4</span>
                    <span class="badge badge-light">Sass</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Timeline end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
